[2017-10-25 19:52] nkubala opened #9 "Add support for including files in test image"
We might want a way to include external files into the image under test before running the test. This used to be possible with the `--workspace` flag which would mount the workspace as a volume in the container.

[2017-10-26 16:31] nkubala commented on #9
@meltsufin can you explain your use case for this? I'm wondering how much sense it makes to need to include files that aren't in the base image. Test scripts (for example) can be embedded in command tests.

[2017-10-27 02:02] meltsufin commented on #9
Can you clarify how test scripts can be embedded? Some of our test scripts are rather large.

[2017-10-27 16:31] nkubala commented on #9
You could write a command test something like this:

[code]

Might be a bit ugly if the script is large though. In that case, I think it's probably better to instead construct intermediate images with the necessary files included in them, and then run the corresponding tests there. We actually want to avoid supporting this feature, because under the hood we have multiple implementations of the tes

[2017-10-27 16:31] #9 closed

[2017-11-08 22:52] nkubala opened #12 "Tar driver panics when unable to find provided tar file"
Example with debian tests running through bazel (note the relative path of the tar file provided):

[code]

This should exit gracefully with a message telling the user the tar file was not found.

[2017-11-13 18:51] #12 closed

[2017-12-12 10:33] everflux opened #16 "Provide option to remove created container instances"
Currently container-structure-test leaks one container instance per test case, it would be great if an option is available to remove container instances after (successful) tests.

[2017-12-12 10:38] everflux opened #17 "Provide option to pull image if not present"
Currently the docker driver assumes that the image to use for tests is already present, f.e. from a recent build. To support the use case of running tests on a separate machine than the one used to build the image it might make sense to provide pulling of the image if it is not present.

[2017-12-13 05:42] dlorenc commented on #16
Yeah - we should definitely do this.

[2017-12-20 17:48] #17 closed

[2017-12-21 16:43] #16 closed

[2018-01-10 17:10] erain opened #21 "`structure_test` rule doesn't work"
First of all, nice framework for docker image testing!

I tried to use `structure_test ` rule with bazel with my image (produced by bazel `container_image` rule). However, I got the following error msg:

[code]

When I looked into it, in [tests.bzl](https://github.com/GoogleCloudPlatform/container-structure-test/blob/master/tests.bzl#L66), the target `Label("//structure_tests:go_default_test")` is

[2018-01-10 17:12] dlorenc commented on #21
Ah, sorry about this. We moved the bazel rule definition to a different repo (the same one as container_image): https://github.com/bazelbuild/rules_docker/blob/master/contrib/test.bzl

Could you try using that and let us know if it works for you? We should clean up the documentation and code that still remains in here.

[2018-01-10 19:41] erain commented on #21
Unfortunately, the `@rules_docker//contrib:test.bzl` doesn't work as well. See the following line:
https://github.com/bazelbuild/rules_docker/blob/8aeab63328a82fdb8e8eb12f677a4e5ce6b183b1/contrib/test.bzl#L93

[2018-01-10 19:46] dlorenc commented on #21
We use it over here and it works: https://github.com/GoogleCloudPlatform/base-images-docker/blob/87dea08ae928698385154e9883a50765effd9b10/tests/util/BUILD#L77

What do you have in your WORKSPACE? You might need to update the build of rules_docker you use, the repositories() definition there should be pulling in @structure_test for you:
https://github.com/bazelbuild/rules_docker/blob/766df456abcad4

[2018-01-10 19:56] nkubala commented on #21
@erain take a look at the example I set up over here: https://github.com/nkubala/structure-test-examples

I actually had an old version of rules_docker in my repo as well, but I just updated it and everything works fine now. If you model your WORKSPACE after the one I have here, you should be good. Sorry for the confusion!

[2018-01-10 20:03] erain commented on #21
Now I know the problem!

My previous error message was:

ERROR: <my-project>: every rule of type _container_test implicitly depends upon the target '@structure_test//:go_default_test', but this target could not be found because of: error loading package '@structure_test//': Extension file not found. Unable to load package for '@io_bazel_rules_go//go:def.bzl': The repository could not be resolved

[2018-01-11 18:05] nkubala commented on #21
Closing this for now, feel free to reach out if you run into more issues.

[2018-01-11 18:05] #21 closed

[2018-01-12 16:26] Urotea opened #29 "apt-get command's args do not have "help", have "--help""
[In this sample yaml](https://github.com/GoogleCloudPlatform/container-structure-test/blob/master/tests/debian_test.yaml), `apt-get` command's arg is `help`.
Certainly, `apt-get` accepts `help`. However, I think that `--help` is easier than `help` ([apt-get reference](https://linux.die.net/man/8/apt-get)) for people who refer to this sample yaml. For example, `node` command accepts `--help` but do

[2018-01-15 19:23] brandon-fryslie opened #32 "Pulling docker image fails with `Error response from daemon: manifest for gcr.io/gcp-runtimes/container-structure-test:latest not found`"
Expected behavior:

I should be able to run `docker pull gcr.io/gcp-runtimes/container-structure-test` to get the container-structure-test docker image.

Actual behavior:

Running `docker pull gcr.io/gcp-runtimes/container-structure-test` fails with output `Error response from daemon: manifest for gcr.io/gcp-runtimes/container-structure-test:latest not found`

[2018-01-16 13:35] kill0rz commented on #32
You could use a version, like `gcr.io/gcp-runtimes/container-structure-test:8432c055cea5342d2a5bef5ffc107072bd82931f`

[2018-01-16 16:23] zemanlx commented on #32
There is no `latest` therefore you have to used tagged version, see its [GCR](https://console.cloud.google.com/gcr/images/gcp-runtimes/GLOBAL/container-structure-test?gcrImageListsize=50). They are matching repo [tags](https://github.com/GoogleCloudPlatform/container-structure-test/tags).

[2018-01-18 19:33] #32 closed

[2018-01-18 19:34] nkubala commented on #32
I added some automation to tag the newest image releases with `latest`. Starting with the next release you should be able to pull the image with no tag.

[2018-01-20 14:57] atmoz opened #36 "-save flag not working"
The readme mentions the `-save` flag, but I get this error message when trying to use it:

    flag provided but not defined: -save

[2018-01-21 19:54] goffinf opened #37 "Inconsistent behaviour with ENTRYPOINT"
Not sure if this utility (which is excellent BTW) is capable of working with images/containers which have a defined ENTRYPOINT, or whether there's is anything additional to define if the image being used has one ?

I have an image which executes Terraform and uses an ENTRYPOINT script. I created some simple command tests for other binaries that are present within the image and they ran successfull

[2018-01-21 20:24] goffinf opened #38 "MetadataTests report No tests to run!"
Running the file below returns No tests to run!

This appears to comply with the example in the docs ??

[code]

[code]

Kind Regards

Fraser.

[2018-01-21 20:34] goffinf opened #39 "Remove temporary containers"
Is it possible to configure the removal of the containers used to run each test ?

I realise that if I wrapped my tests in a script or was running as part of a CI piepline I could do that myself, but I was wondering whether it was possible as part of the test definition itself.

I tried this (as the final test) in a container that includes the docker client binary (other docker commands work fine

[2018-01-22 19:04] nkubala commented on #39
Thanks for reporting @goffinf. I just opened https://github.com/GoogleCloudPlatform/container-structure-test/pull/40 which removes the intermediate images generated in each test run, I believe this is the issue you're referring to.

[2018-01-22 19:40] nkubala commented on #37
Hey @goffinf, thanks for reporting this one. Looks like there are a number of issues here.

First off, the issue with the entrypoint: as it stands right now, running command tests in a container with an entrypoint will always run the entrypoint BEFORE running the command the user is trying to test. I don't think we want to do this, because if we're testing a command in a container we want that to

[2018-01-22 20:48] goffinf commented on #38
Hey Nick,

looks like it is a version thing.

I'm not sure what version I am running (a version command might be an idea though), but when I was deciding which binary to download I did a couple of things. First I read over your blog post (https://opensource.googleblog.com/2018/01/container-structure-tests-unit-tests.html) which sent me over to the github repo here: https://github.com/GoogleCloudPl

[2018-01-22 20:56] goffinf commented on #39
Hey Nick,

yeah probably. It might just be semantics, but I meant the containers that are used to run the tests that are left behind when the run completes. For example after I ran a few tests tonight this is what I had laying around afterwards (which would be nice to clean up)

[code]

[2018-01-22 21:25] nkubala commented on #39
Ah ok I thought you might have been conflating the terms, but no this is definitely a different issue (my PR still fixes a bug but not the same as this). We already do remove the intermediate containers (https://github.com/GoogleCloudPlatform/container-structure-test/pull/18), so either you're on an old version or you're running into a corner case that's causing yours to stick around. Could you te

[2018-01-22 21:27] goffinf commented on #37
Hey Nick,

thanks for the feedback.

Do you know I saw the stdout: Terraform v0.10.8 for each test and I didn't twig it was running a terraform command that would return the version (apart from the first one where I ask it to do that in the test itself). Actually the entrypoint command (script) runs terraform init with a few options which interesting shouldn't support -v but somehow, because -v is

[2018-01-22 21:28] nkubala commented on #38
Ahh, that's my fault. I linked to that example repo in my blog post without noticing it had a bunch of old links in it :fearful: Really sorry for the confusion! And yes useful `version` and `help` commands are coming very soon. Most of those command options you're seeing are from the golang testing library that this framework is using, I don't think we should really be exposing most of those to th

[2018-01-22 21:31] nkubala opened #41 "Add useful `version` and `help` commands"
We should have useful output for `container-structure-test --help` that gives the user small examples of the different flags the tool accepts, as well as a way to quickly figure out which binary version is being run.

[2018-01-22 21:41] goffinf commented on #39
Hey Nick,

not sure about what the actual version # is, I mentioned in one of the other issues that I am using the binary from the link in the github repo, where it says ' ... Download the latest binary release here'...  so this one ...

https://storage.googleapis.com/container-structure-test/latest/container-structure-test

 A simple example using busybox

[code]
No containers present before star

[2018-01-24 19:40] nkubala commented on #36
Hey @atmoz, thanks for reporting. This was my fault, in my [example repo](https://github.com/nkubala/structure-test-examples) I linked to an old version of the code that had a lot of missing features. I've updated the links in that repo, using the latest released binary should fix this issue for you. Sorry for the confusion!

[2018-01-24 21:03] nkubala commented on #39
Hey Fraser,

I was able to reproduce your issue, and it should be fixed with the PR referenced in this issue. Thanks again for reporting, and let me know if you run into any more issues!

[2018-01-24 22:23] #39 closed

[2018-01-24 23:03] atmoz commented on #36
I did not download from the example repo, I used the link from the readme in this repo.

Exact link: https://storage.googleapis.com/container-structure-test/latest/container-structure-test

I downloaded this again, but I see no difference.

This is the usage output:

[code]

Notice there is no mentioning of any `-save` flag.

[2018-01-25 22:01] #37 closed

[2018-01-25 22:01] #38 closed

[2018-01-25 22:16] nkubala commented on #36
Ah, sorry you're right. I grouped this with the issues from the old binary link because there were so many at once 😨 This is happening because we haven't done a release with the latest changes since before this issue was fixed. I'll be doing a release this afternoon, so once you upgrade to the latest version this should be fixed for you.

[2018-01-26 19:34] ekuefler opened #48 "405 error when pulling image"
When trying to pull the image listed in the README:

[code]

[2018-01-27 18:20] goffinf opened #49 "Updated Release Binary"
I notice that there have been recent commits to resolve issues (now closed) for over-riding entrypoint and tidying up intermediate containers. However I downloaded the release binary from the link in this repo: https://storage.googleapis.com/container-structure-test/latest/container-structure-test but it looks like this is the same binary that I had previously been using when I raised those and ru

[2018-01-29 19:55] nkubala commented on #49
Hey Fraser,

We had an issue with our release automation that prevented the latest binary from being released. I just built and published the latest binary, please try downloading it when you get a chance and verify that the fixes work for you.

[2018-01-29 23:43] nkubala commented on #48
Hey @ekuefler, thanks for filing. I think this is happening due to an old Docker client version: see [here](https://cloud.google.com/container-registry/docs/support/deprecation-notices) for more details. Can you try updating your local client version and see if this fixes the issue?

There's definitely a `latest` tag pushed to our repository:
[code]

[2018-01-29 23:58] goffinf commented on #49
Hey Nick,

pulled updated release binary and all good. Containers are cleaned up and commands are not impacted for images with entrypoints.

[2018-01-29 23:58] #49 closed

[2018-01-30 00:03] goffinf opened #51 "Feature request: Output format option"
It would be useful to be able to output test results in a machine processable standard format (say) JSON or TAPS.

That would allow easier integration with build pipelines where test result would be more easily parsed and the build allowed to continue to fail based on results.

Regards

Fraser.

[2018-01-30 00:13] goffinf opened #52 "stderr output instead of stdout for cmd test"
I have an image that I am testing which includes the AWS CLI binary. I want to test that the version is what I expect. I have this command ...

[code]
This test fails ... (some output elided for brevity)

[code]
As we can see the AWS cli version string *was* output, but it was sent to stderr rather than stdout ?
If I exec into this container and run aws --version it returns the expected string as

[2018-01-30 00:16] goffinf opened #53 "Feature Request: Support for volume mounts"
I would like to support some tests that require a volume to be mounted for the Container Under Test.

I don't see an option for that in the current release ?

[2018-01-30 17:46] cognitiaclaeves opened #54 "ExpectedError appears to only work without brackets"
[code]

works:

[code]

doesn't:

[2018-01-30 17:50] cognitiaclaeves opened #55 "setup for commandTests appears to be broken"
[code]

	command.go:43: Please provide a valid entrypoint to run for test curl localhost

Also fails if setup appears as it does in the Dockerfile:
`setup: [["/app-cfg/entrypoint.sh"]]`

or

`setup: ["/app-cfg/entrypoint.sh"]`

[2018-01-30 19:39] ekuefler commented on #48
Ah, yep, that was it. Thanks.

[2018-01-30 19:40] #48 closed

[2018-01-30 22:06] nkubala opened #56 "File existence tests `shouldExist` defaults to False"
If this field isn't specified in the config, it default to `False`, which is counterintuitive.

The issue here is that we can't set default values on the struct in go, but when the fields get unmarshaled into the struct go chooses `False` as the default. We could init the holder struct with default values first, and then unmarshal, but the problem with that is that we don't know how many defaulted

[2018-01-30 22:56] nkubala commented on #51
We just added something similar to this to our container-diff tool: https://github.com/GoogleCloudPlatform/container-diff/pull/173. We could probably adapt some of this code to container-structure-test as well, though it might be a bit trickier since all of the output goes through the golang testing library.

[2018-01-30 23:04] nkubala commented on #52
Hmm, just by looking at this it seems that there are two things going on.

The first is that the output of your command is going to stderr, but the streams are definitely kept separate when attaching to the docker logs (see [here](https://github.com/GoogleCloudPlatform/container-structure-test/blob/master/drivers/docker_driver.go#L323)), so I think this might actually a weird thing with the comman

[2018-01-30 23:17] nkubala commented on #53
This one is interesting because it gets into the difference between a structure test and an "integration" test. In order to mount a volume in a container you have to actually run it, which is sort of counter to what we want to support with this framework. However this is essentially what we're doing with setup commands (run them and then commit the resulting container), so I suppose in theory we c

[2018-01-31 19:13] nkubala commented on #54
Hey @cognitiaclaeves, thanks for reporting. The strings provided to the expected/excluded output/error fields should actually be regexes, not raw strings. If you use the string `Nomad v0\.7\.1\+ent \(83ac1d7316a79aacb09d349298e14e23a0aa9853\)` (escaping special regex characters), your second example with the brackets will work.

This is unfortunately a bit of a misleading result, because the first

[2018-01-31 19:13] #54 closed

[2018-01-31 19:16] nkubala commented on #55
Hey @cognitiaclaeves,

This error is sent to the user if the `command` field isn't parsed from the config correctly: https://github.com/GoogleCloudPlatform/container-structure-test/blob/master/types/v2/command.go#L43

Can you check to make sure there aren't any trailing/leading whitespaces around your `setup` and `command` fields in your config? Everything looks fine at a glance so I think somethi

[2018-01-31 22:48] cognitiaclaeves commented on #55
I'm not sure what you are asking me to do. The above copy/paste includes the command and setup args. Is this a clearer way of expressing the clause? Or are you looking for another part of the file?

[code]

[2018-01-31 22:52] cognitiaclaeves commented on #54
This made more sense. Your solution works for me. Thanks!

[2018-02-08 17:49] nkubala commented on #55
Ah sorry, I see the problem now. [`command` is a `string`, not a `[]string`](https://github.com/GoogleCloudPlatform/container-structure-test/blob/master/README.md#command-tests). Since you're passing in a list of strings, it's not getting parsed correctly. Removing the brackets around `/usr/bin/curl` should fix it.

[2018-02-11 22:14] precompiler opened #57 "Feature Request: Support alpine 3.7"
Tried to use container-structure-test in an alpine 3.7 container, got error "/bin/sh: container-structure-test: not found". (Everything works fine in Ubuntu and Redhat Linux containers).

[code]

[2018-02-12 14:40] zemanlx commented on #57
@precompiler Issue is that is compiled with `glibc`. To be able to run it in alpine you need to compile it with `musl-libc`.

I have tested it in docker. Save following `Dockerfile`

[code]

and run from that folder
[code]

your binary is in the `PATH` so you can run it
[code]

[2018-02-12 15:58] precompiler commented on #57
@zemanlx Thank you very much for your help, it works now!

[2018-02-12 15:58] #57 closed

[2018-02-12 15:58] Evesy opened #58 "runtime error: invalid memory address or nil pointer dereference"
Hi,

I'm seeing the below using gcr.io/gcp-runtimes/container-structure-test:**v0.1.3** with the docker driver:

[code]

If I remove all fileExistenceTests I do not see the error. Test yaml is below:

[code]

Any help is appreciated

Cheers,
Mike

[2018-02-12 16:12] Evesy opened #59 "error while loading shared libraries: libstdc++.so.6"
Hi,

I have attempted to upgrade to the latest container-structure-test version `0.2.0` however I am now receiving the below:

[code]

I do not see the same running version `0.1.3` of the container image.

**Docker version**: 17.09.1 & 17.12.0

Cheers,
Mike

[2018-02-12 16:29] Evesy commented on #52
@goffinf What version of python do you have installed?

If you're using a python version <3.4 then `aws --version` will print to stderr, however more recent versions should print to stdout.

[2018-02-12 17:29] dlorenc commented on #59
Ref https://github.com/GoogleCloudPlatform/distroless/issues/162

[2018-02-12 18:08] #58 closed

[2018-02-12 22:50] #59 closed

[2018-02-13 14:01] Evesy opened #63 "Feature request: Regex in file existence permissions tests/'should be executable' test"
Hi,

Having come from using Serverspec/Inspec I am missing not having a test directive similar to `be_executable` (https://www.inspec.io/docs/reference/resources/file/).

In often cases I am not ultimately concerned about exact file permissions on certain binaries within a container, but just that they are executable by user/group/other. Due to environment differences file permissions between loca

[2018-02-13 22:18] nkubala commented on #63
Hey Mike, thanks for reporting. Seems like a reasonable request. I think adding an `isExecutable` field or something similar is probably a little more clear than using wildcards in the permissions string.

[2018-02-14 10:33] Evesy commented on #63
An `isExecutable` field would definitely be my preference over wildcard permissions too 👍

[2018-02-14 13:25] zemanlx opened #64 "Docker image `v0.2.0` is broken"
### What is broken

[code]

Probably wrong base image...I am bit confused by your _bazel_ machinery.

### What I expect

Same thing as for `v0.1.3`

[code]

[2018-02-14 16:15] dlorenc commented on #64
Hey,

Sorry about this. It was fixed in #61, but we have to cut a release to get a new image out. I'll do one today.

[2018-02-15 00:16] #55 closed

[2018-02-21 19:22] nkubala opened #66 "Infer bazel-bin directory in release automation"
We should be able to infer the output directory for the binary when building with bazel, so we don't have to keep changing the hardcoded name whenever we make a change to the build process. Something like

`bazel info | grep bazel-bin | cut -d' ' -f2`
or
`bazel info bazel-bin`

should give us enough to work with.

[2018-02-21 19:23] nkubala opened #67 "Fix bazel cross-compilation"
Let's check to see if we can get the bazel cross compilation to work. If so we can start releasing this tool for OS X, and possible Windows.

[2018-02-21 21:23] zemanlx commented on #64
Fixed in the release [v0.2.1](https://github.com/GoogleCloudPlatform/container-structure-test/releases/tag/v0.2.1).

Thanks!

[2018-02-21 21:23] #64 closed

[2018-02-22 17:55] paparaka opened #69 "Error parsing YAML config"
On Ubuntu 17.10 with the latest binary (22 Jan)(https://storage.googleapis.com/container-structure-test/latest/container-structure-test)

Using one of the config files in this repo (https://github.com/GoogleCloudPlatform/container-structure-test/blob/master/tests/debian_test.yaml)

The following command:
`container-structure-test -test.v -image ubuntu:16.04 debian-test.yml`

Returns the following

[2018-02-22 19:23] tejal29 commented on #69
umm the file name is in correct? should it be debian-test.yaml?

[2018-02-22 19:32] nkubala commented on #69
Yeah we should support `.yml` since that's also a valid YAML file extension

[2018-02-23 00:37] micapam commented on #53
Is there a `container-integration-test` or plans for one, then?

[2018-02-23 16:03] paparaka commented on #69
Yes I can confirm that using "yaml" works

[2018-02-26 15:19] mogthesprog opened #70 "Passing arguments to the docker run command"
When we're using the docker driver, is there anyway to currently pass arguments to the docker run command? for example if i have a container that needs extra capabilites, or you want to add a volume mount to test a command with some custom config?

[2018-02-26 18:56] mogthesprog commented on #70
I'm actually happy to have a go at this, but wanted to check if you'd thought about how you might do this?

Use case for us is we have an auditd container that contains some audisp plugins we'd like to test, which needs some extra privileges in order to run successfully.

I'm wondering whether we could add a `dockerRunOpts` top-level field to test `yaml`? that might allow you to set global docker

[2018-02-26 19:15] nkubala commented on #70
Hey @mogthesprog, thanks for filing. I think I'm ok with with the general design here, seems like there's enough desire for run options here to warrant taking a stab at it. The one change I think we'll have to make to the UX is probably embedding the `driver` flag into the `yaml`, so that it's a little more explicit when you specify a `dockerRunOpts` field that it'll be used with the `docker` driv

[2018-02-26 19:17] nkubala commented on #53
@micapam no current plans for a separate integration testing framework, but that's not to say we won't in the future! We're focusing more on expanding the use cases of the structure tests right now.

[2018-02-26 19:18] nkubala commented on #53
This issue is superseded by https://github.com/GoogleCloudPlatform/container-structure-test/issues/70, so closing to track over there.

[2018-02-26 19:18] #53 closed

[2018-02-26 20:14] mogthesprog commented on #70
so maybe something like this? also means if we end up supporting a different container driver then it's a little more generic.

[code]

[2018-02-26 22:30] Danielle33 commented on #56
Okay

[2018-02-26 23:16] nkubala commented on #70
I think the driver should be outside the `containerRunOpts` field. if the user wants to specify the `tar` driver for example, there won't be any run options. other than that, seems fine

[2018-02-26 23:20] mogthesprog commented on #70
ah great. That's the bit i was missing. I've had a quick stab this evening, i'll hopefully have something put together over the next few days, will keep you posted.

[2018-02-28 02:01] oztigertim opened #71 "tar option failing to pull image layer"
I have the container-structure-test working on xubuntu 16.04 64 bit for a couple of simple file existence tests for the default docker driver but I haven't been able to get the tar driver to pull the image.
I'm getting errors like:
ERRO[0110] Failed to pull image layer: Get https://dseasb33srnrn.cloudfront.net/registry-v2/docker/registry/v2/blobs...

I've tried on different machines and different

[2018-02-28 07:08] oztigertim commented on #71
On the work computer I was using two different VirtualBox xubuntu images. I noticed at the end of the error it mentioned "i/o timeout". I thought perhaps VirtualBox on Win10 may be causing an issue so I've tried at home on my Xubuntu 16.04 laptop and its working but its really really slow.
Also it displays a lot of ERRO but the file exist test still passes.
$ sudo ./container-structure-test -drive

[2018-02-28 07:24] oztigertim opened #72 "Different test results from tar driver for file exists test"
Using Xubuntu 16.04 64 bit on a laptop.

My yaml file has the following:
schemaVersion: '2.0.0'
fileExistenceTests:
 - name: 'Root'
   isDirectory: true
   path: '/'
   shouldExist: true
- name: 'python'
   isDirectory: true
   path: '/usr/local/bin/python'
   shouldExist: true

Running with the default docker driver the test passes.
$ sudo ./container-structure-test -test.v -image python python_f

[2018-02-28 07:44] oztigertim commented on #72
Did a save and the /tmp folder doesn't have python in the /usr/local/bin...
/tmp# ls -la python714216499/usr/local/bin/
total 68
drwxrwsr-x  2 root root  4096 Feb 28 17:36 .
drwxrwsr-x 10 root root  4096 Feb 28 17:36 ..
-rwxr-xr-x  1 root root   101 Feb 28 17:36 2to3-3.6
-rwxr-xr-x  1 root root   239 Feb 28 17:36 easy_install
-rwxr-xr-x  1 root root   239 Feb 28 17:36 easy_install-3.6
-rwxr-xr-x

[2018-02-28 07:50] oztigertim commented on #36
I just ran into this but found a workaround.
The -save needs to be before the yaml file on the command line.

This fails:
sudo ./container-structure-test -test.v -driver tar -image python python_file_test.yaml **-save**
with error:
2018/02/28 17:31:01 Error parsing config file: open -save: no such file or directory

This saves:
sudo ./container-structure-test -test.v -driver tar -image python **-s

[2018-03-01 09:54] wanghaoran1988 opened #73 "Feature request: support copyfile from local to container"
When testing some image, we need copy some local file to the image and verify whether it work well or not.

The "Setup" field was a set of command running in the container before we testing the image, it will better if we support "COPY" direc in the "Setup" field.

[2018-03-02 21:24] nkubala commented on #71
Hey @oztigertim, thanks for filing. Glad to hear you got something working, but sorry to hear it's so slow.

I think I'm a bit confused on the image you're trying to run tests on; you're passing `-image python`, so is that supposed to be an image you built locally? Otherwise it should basically try and do `docker pull python`, which would normally work. I can't tell for sure but it looks like you

[2018-03-02 21:30] nkubala commented on #72
Hey @oztigertim, I'm able to repro this as well using the stock `python` image from Dockerhub. Looks like an issue with the tar extraction. Looking into it

[2018-03-03 06:36] oztigertim commented on #71
Hey @nkubala yes I'm expecting it to just do a docker pull. If I use the docker driver instead of the tar driver it works fine. I'm not using a private registry.
On my home Xubuntu laptop the end of the output looks like this:
ERRO[0152] remove /tmp/python638756840/var/lib/dpkg/info/.wh.libtimedate-perl.md5sums: no such file or directory
INFO[0162] Finished prepping image python
--- FAIL: TestAll

[2018-03-06 21:42] nkubala opened #76 "Add code of conduct"

[2018-03-08 01:05] duggelz opened #77 "Licence_check doesn't support symbolic links?"
I'm building a new Python image on top of the `gcr.io/gcp-runtimes/ubuntu_16_0_4` base, and I get these errors from licence_check:

[code]

The noteworthy thing is that these seem to be the only license files that are symbolic links instead of regular files.

[code]

[2018-03-08 18:26] dzavalkinolx opened #78 "How we can test daemons?"
I have a very simple container with nginx which serves static content. I want to verify that nginx starts with proper virtual host configuration and returns index.html with all headers properly set. Since this PR is merged
With https://github.com/GoogleCloudPlatform/container-structure-test/pull/43 merged entrypoint is empty and my nginx is not started. I was trying to start nginx as a daemon or a

[2018-03-08 19:26] nkubala commented on #77
@duggelz can you give me your yaml for the license tests you're running? I assume you're running with the Docker driver here?

[2018-03-08 22:45] duggelz commented on #77
I'm way behind on versions (0.1.1 vs 0.2.1), I'll try with a newer version of the tool and let you know.

[2018-03-09 01:34] duggelz commented on #77
Downloaded binary from here, I assume it's 0.2.1: https://storage.googleapis.com/container-structure-test/latest/container-structure-test

[code]

Contents of license-test.yaml
[code]

Error message

[code]

[2018-03-09 08:45] dzavalkinolx commented on #78
After thinking about this issue again I believe you should revert #43.  Basically, you change SUT when you override entrypoint - this is just conceptually wrong. Probably you can leave this option to override entrypoint but it should be opt-in, i.e. people can use it if their container are not testable otherwise but I think the general approach should be that people should change their container t

[2018-03-09 08:58] zemanlx commented on #78
I think your case is close to https://github.com/GoogleCloudPlatform/container-structure-test/issues/53#issuecomment-361767823 and you are trying to do integration and not structure test.

[2018-03-09 09:17] dzavalkinolx opened #79 "Output of list with empty string is the same to empty list"
Entrypoint in the image is `[]`. If I create the following metadata test:
[code]
it will fail with error message:
[code]

[2018-03-09 22:29] dzavalkinolx opened #80 "Metadata Test should support all fields from ContainerConfig"
Full list of fields is here: https://github.com/docker/engine-api/blob/master/types/container/config.go#L36

In my case I'm preparing nginx image which should be compatible with openshift. That's why I would like to test `"User": "nginx".

[2018-03-09 22:39] dzavalkinolx commented on #78
@zemanlx Well, from classical point of view it is and integration test. However, if we think about container as a unit then it is more like a unit test. I want to call class method, class here is container and method is that responds on the exposed port.

But it doesn't matter in the end.  We need some generic solution to test application installed inside container.  Before I discovered this proje

[2018-03-10 00:32] dzavalkinolx opened #81 "File Content Tests should allow to check owner and group"
I'm building a base docker image with nginx which should run all processes as nginx users (to be able to use this docker in openshift). I need to verify that certain directories/files are owned by nginx user to allow child images put files there.

[2018-03-11 20:09] straumat commented on #78
I'm building an image for my project [blockchain2graph]https://github.com/straumat/blockchain2graph) and I need to start a neo4j server in my docker image. I would like to do a `neo4j status` to check if my deamon is running. From what I understand here, it seems your tool is not made for that ?
Is there a tool I should use to complete your tool or will you add this feature later ? Thanks

[2018-03-12 01:12] nkubala commented on #78
Hey @dzavalkinolx, thanks for filing. As @zemanlx mentioned, I would say that what you're trying to do is more in the domain of integration rather than structure tests. However, I understand your use case and am currently trying to figure out how to support it.

I think the main issue here is I want the UX for more "integration" style tests to be more explicit, so I'm working out the best way to d

[2018-03-12 01:17] nkubala commented on #80
Definitely. Will try and get this in the next release.

[2018-03-12 01:19] nkubala commented on #81
Ah ok I see, this wouldn't be covered in the permissions bits for the file since it's user and group info. This should be doable.

[2018-03-12 21:53] duggelz commented on #77
I don't know Go, but it looks like this line only handles absolute symbolic links ("/foo"), and needs to be updated to resolve relative symbolic links ("../foo") based on the target parameter:

https://github.com/GoogleCloudPlatform/container-structure-test/blob/7411da1d4cb505f1a70ae5d1ca3d961a3fa66cda/drivers/docker_driver.go#L198

[2018-03-12 23:03] duggelz opened #83 "Can -pull work with non-public images?"
I have an image that is not publicly accessible.  I can pull it via `gcloud docker -- pull blah`, which is probably translated to `docker login` under the covers.  Is there a way to make this work with the structure test `-pull` flag?

If so, maybe document how do that.  Maybe I need to fiddle with permissions or environment variables.

If not, maybe document that, because the error message is rea

[2018-03-13 19:23] sharifelgamal opened #84 "Add docker-credential-gcr to the container-structure-test docker image"

[2018-03-13 19:25] sharifelgamal commented on #83
This is definitely a credentials issue. Our container-structure-test binary supports [docker-credential-gcr](https://github.com/GoogleCloudPlatform/docker-credential-gcr) but the docker image currently doesn't (I opened #84 do support that). Currently your best workaround would be to do a docker pull into your local daemon then use the daemon prefix when referencing it.

[2018-03-13 19:26] dlorenc commented on #84
See here for a recent example of how to do this: https://github.com/GoogleCloudPlatform/k8s-container-builder/pull/37

[2018-03-14 22:41] nkubala opened #86 "Add mode to persist driver between test runs to avoid recreating filesystem"
Currently, a new driver is created for each individual test as a way to run tests in isolation. This is fine for the docker driver, but for the tar driver this requires us to recreate the filesystem for every test, which can take on the order of half a second. Since the tar driver is incapable of running commands anyway, tests can't interfere with each other, so we should have a way to persist the

[2018-03-19 19:34] #71 closed

[2018-03-19 19:38] #72 closed

[2018-03-19 19:45] nkubala commented on #71
@oztigertim this should be fixed now. There were a few issues, mostly fixed in [container-diff](https://github.com/GoogleCloudPlatform/container-diff) but also one here.

One thing I want to note is that when using the tar driver, the framework will unpack the tarball representing the image filesystem on your machine before running any tests; this will always take longer than running the container

[2018-03-19 21:44] nkubala commented on #36
Yeah, the last CLI argument is one or more config files, which are positional so they have to be at the end. I'm working on a rewrite of the tool that changes the configs to be specified with a flag so they can be anywhere, which will make this more clear. Going to close this issue for now.

[2018-03-19 21:44] #36 closed

[2018-03-21 15:52] shaneog opened #93 "Run locally via Docker?"
I'm trying to set this up via Docker in our CI (Buildkite) and it's not working.

I'm following the documentation and the error I'm getting is that my config file is not found.
I've tried mounting my local directory at `/workspace` and `/workspace/structure_test` to no avail.

I've tried with the released versions v1.0.0, v0.3.0 and v0.2.1.

Using [this](https://github.com/GoogleCloudPlatform/cont

[2018-03-21 18:02] #83 closed

[2018-03-21 18:02] #84 closed

[2018-03-21 18:08] zemanlx commented on #93
@shaneog files are not passed to a container so it is needed to mount it as a volume `-v` like this

[code]

[2018-03-21 19:28] shaneog commented on #93
Perfect, that's all I needed!

Thank you @zemanlx

[2018-03-21 19:28] #93 closed

[2018-03-21 20:10] nkubala commented on #93
@zemanlx thanks for the explanation here. @shaneog it's worth noting that the real intended use case for the image we publish here is to run in [Google Cloud Container Builder](https://cloud.google.com/container-builder/docs/). Check out [this example](https://github.com/GoogleCloudPlatform/container-structure-test#running-file-tests-on-google-cloud-container-builder) from the README to see it in

[2018-03-27 14:54] dlorenc opened #95 "Separate out license tests"
Let's make this a separate binary/build step from the main test code.

[2018-04-02 15:19] zanetworker opened #96 "Empty args or commands are not properly validated"
Currently there is code for each test type to validate input slice. The validation code only checks if a slice is `nil` or not, however, it does not check if the content of the slice is empty or not.

Example, this code will not be `nil` and will pass validation but will result in false negatives or panics.

[code]

**Desired behaviour:**

Content of args or any string slice should be properly che

[2018-04-02 15:25] zanetworker opened #97 "Metadata tests are not executed with RunAll()"
I have noticed that metadata tests are not executed along with the other tests, is this intended behaviour?

[code]

[2018-04-03 14:22] AlbertoSH opened #98 "Env variables are not being substituted by its actual value in commandTests"
It seems like when running the tool inside Docker it's not using the defined env variables nor the existing ones. For example, for plain `alpine` images we have `$HOME` defined:

[code]

But when trying to use it in a test it's not being substituted by its `/root` value. Neither the defined ones (both locally and global variables) seem to work. Having a test file like this:

[code]

and executing

[2018-04-03 21:15] #69 closed

[2018-04-03 22:44] nkubala commented on #97
You're absolutely right, I left this out when I rewrote the framework a few weeks ago. Just opened a PR to fix it

[2018-04-04 09:13] zanetworker commented on #96
Sure thing, let me know if you need extra hands ;)

[2018-04-04 18:11] #97 closed

[2018-04-04 18:12] #96 closed

[2018-04-10 13:03] datwiz opened #102 "Support for checking image labels"
Add support for adding metadata image label tests.
Enables testing of required label metadata prior to publishing containers.

Includes supporting regex expressions for label values.

Related prerequisite [PR 181 in container-diff](https://github.com/GoogleCloudPlatform/container-diff/issues/181), which added Label metadata to the image config.  This PR has now been merged into container-structure

[2018-04-10 15:11] adam-moss opened #104 "`--pull` option results in error when host:port/path/to/image:tag is used"
When including the `--pull` option in the `test` command a failure is encountered if the host is running the docker registery on a different port (in this use case GitLab, which exposes the registry on port 8443 by default).

The error presented is: API error (400): {"message":"invalid tag format"}

I believe this is being caused by https://github.com/GoogleCloudPlatform/container-structure-test/b

[2018-04-11 15:04] monitea opened #106 "Defer causes tar driver to eat up all disk space"
Hi, I am trying to use container-structure-test to test our images.
I am running 1.1.0 binary in a custom container and using tar driver (I don't want to start containers for image under test)
When running the binary, container keeps growing in size, until one of the tests fails.
How this looks:
image A - image running the test
image B - image under test

Now, when running, container A pulls B, un

[2018-04-11 17:51] nkubala opened #107 "Global env vars not being set correctly in File/Metadata Tests"
Since we do the env var setup in `Setup`, this is ignored in tests outside of the command tests. We should factor this out to be its own method so it gets run in every test type.

[2018-04-11 17:52] nkubala commented on #98
Hey @AlbertoSH, thanks for filing and sorry for the late reply on this one.

container-structure-test doesn't currently support environment variable substitution in the test spec itself, so you won't be able to use any env vars as part of your test args/output. However, what you're trying to do is still possible using the `metadataTest`:

[code]

You can specify all your env vars here and check to

[2018-04-11 18:40] nkubala commented on #104
Hey @adam-moss, thanks for filing. This isn't something we support currently, but we should fix this up.

[2018-04-11 18:41] #76 closed

[2018-04-11 18:42] #41 closed

[2018-04-11 19:46] nkubala commented on #106
Hey @monitea. This is definitely something I've been thinking about, and would be fixed by https://github.com/GoogleCloudPlatform/container-structure-test/issues/86. The reasoning behind designing it this way is that we want to run tests in isolation, so that a command test can't do something to modify the test base for another. That said, for a number of reasons I think we should at least add the

[2018-04-12 08:32] monitea commented on #106
Thanks for the prompt answer.
I will watch keenly for this update!

[2018-04-13 07:27] AlbertoSH commented on #98
Yes, I know that I can test the env variables with the metadataTest but my use case was more intended to check that some software was installed and its executable was added to the PATH. So my real test is something like:

[code]

In the end I got a similar result with:
[code]

But it feels like an ugly workaround

[2018-04-16 12:03] dzavalkinolx opened #109 "File Existence Test - shouldExist behaviour is invalid"
I have the following test:
[code]

Which should pass if file doesn't exist. Instead I see a FAIL message like this:
[code]

[2018-04-16 16:34] dlorenc opened #110 "Consider integration with `helm test`"

[2018-04-18 21:11] nkubala commented on #80
cc @datwiz

[2018-04-20 02:17] datwiz commented on #80
Have started work on this and mapped out which container config fields can be modified during image build vs runtime settings.

Wanting to confirm this feature should only include metadata tests for those fields that are set statically against the image as opposed to dynamically at container runtime.  For example, AFAIK, the `hostname` and `domainname` fields are only populated on running containe

[2018-04-20 03:50] datwiz commented on #79
This should get get addressed as part of the extension of the metadataTest for #80

[2018-04-20 03:51] #102 closed

[2018-04-20 10:08] Jeoffreybauvin opened #115 "Any way to generate reports ?"
Hi,

Is there any way to generate unit test reports ? Maybe a XML file, in order to parse it with Junit ?

Regards,

[2018-04-20 11:01] monitea commented on #106
One thing is still bothering me.
Take a look at this gist: https://gist.github.com/monitea/a7f7d4b51f514ddd90c44318d4cde356

Basically, at the moment, even if https://github.com/GoogleContainerTools/container-structure-test/issues/86 is done, there will still be an issue of disk overrunning if you want to have new driver for each test.

Or am I getting things wrong here?

[2018-04-20 18:26] nkubala commented on #80
@datwiz really nice work here! You're absolutely right here, we only want to support config fields that are set statically in the images, not in running containers. We have some work going on in a separate PR (https://github.com/GoogleContainerTools/container-structure-test/pull/82) that will add support for `containerRunOpts`, and in that case we can look into supporting other config fields in th

[2018-04-20 19:11] nkubala commented on #106
Ah, great catch, you're definitely right about this. We should be calling `driver.Destroy()` directly instead of deferring the call. I'll fix this

[2018-04-20 20:43] tejal29 commented on #115
we are amidst adding --jsonOutput flag.
https://github.com/GoogleContainerTools/container-structure-test/pull/114
Would this suffice your use case?

[2018-04-22 01:29] datwiz commented on #80
Working on refactoring the metadata tests into grouped types to make test case additions easier.
Checking if there were any issues with standardising the test case failure messages:
  `Image <test> <actval_from_image> does not match expected value: <expval_from_config>`

An example:
[code]

I've pushed a WIP view to my local fork [metadata.go](https://github.com/datwiz/container-structure-test/blo

[2018-04-24 07:33] Jeoffreybauvin commented on #115
Hi @tejal29 ,

No, I need at leat the possibility to redirect this json output to a file... Bamboo doesn't allow me to use "> result.json".

Besides, I'm still using 0.3.0, because latest tag is not working for me :

[code]

Even the "--help" option is not working with structure_test :

[code]

Am I doing something wrong ? The binary doesn't seem to be the same (go_default_test vs structure_test).

[2018-04-25 18:08] sedan07 opened #118 "README file installation and example does not work against latest version"
The installation section points users to download the latest binary from: https://storage.googleapis.com/container-structure-test/latest/container-structure-test but this is not the same binary as the github releases page: https://github.com/GoogleContainerTools/container-structure-test/releases, the "Latest release" according the Github is: https://storage.googleapis.com/container-structure-test/

[2018-04-27 20:17] dlorenc opened #119 "Integrate TUF with c-s-t"

[2018-04-27 20:33] dlorenc commented on #118
cc @nkubala did you do a release here and only do half of it?

[2018-04-27 22:10] tejal29 commented on #115
@Jeoffreybauvin looking into this. Sorry this missed my inbox.

[2018-04-27 22:45] tejal29 commented on #115
Please run the following command.

[code]

[2018-04-27 23:58] nkubala commented on #118
@sedan Thanks for the heads up, and sorry about this. We had an issue with the release automation that was causing the `latest` binary to not be updated on build. I updated the GCS bucket manually, and all subsequent releases should be fixed through https://github.com/GoogleContainerTools/container-structure-test/pull/113.

[2018-04-27 23:58] #118 closed

[2018-04-28 00:00] nkubala commented on #115
@Jeoffreybauvin we had an issue with the release automation that caused the `latest` binary to stop getting updated in GCS. I've since updated it with the `v1.1.0` binary, go ahead and switch to that one whenever you get a chance

[2018-04-28 20:01] Jeoffreybauvin commented on #115
Hi @tejal29  and @nkubala

Thanks, with latest tag aka v1.1.0, it's working 👍  :

[code]

About --jsonOutput, it is available in this version ? I can't make it work  with the same command as above but with --jsonOutput :

`time="2018-04-28T19:58:28Z" level=error msg="unknown flag: --jsonOutput"`

@tejal29  if you can make an "output file" parameter combined with "json output", it would be great !

[2018-04-28 20:19] Jeoffreybauvin opened #120 "exit_code not working ?"
Hi,

I'm using this yaml for testing my Debian container :

[code]

But :

[code]

In my container :

[code]

The test "package_htop" shouldn't break...

[2018-04-30 10:20] paparaka opened #121 "`Metadata Test` Runs without being specified"
The application does not like my entrypoint and the test unit fails with an error,
but for some reason `metadata test` is executed and I get an overall `PASS`.
This could potentially be mistaken by someone (that is too busy too look at the output)
to be a successful test of their code.

[code]
Here is the config file used:
[code]

[2018-04-30 11:17] paparaka opened #122 "Error typo: `entrypoint` should be `command`"
https://github.com/GoogleContainerTools/container-structure-test/blob/fe1c61b8f02743b43c43843c84c6e0f023526c65/pkg/types/v2/command.go#L46

I have been bashing my head for an hour trying different combinations for `setup`,
when in fact the problem was with `command`

[2018-04-30 22:37] tejal29 commented on #115
https://github.com/GoogleContainerTools/container-structure-test/pull/123 is out.
This will need a c-s-t release and new c-s-t image.
We will probably get it to next week since most of the team is out.

[2018-05-02 10:18] nkubala opened #125 "Add support for running container-structure-test inside gVisor"
We should add support for testing containers inside https://github.com/google/gvisor. Would be a great addition for testing containers built inside gVisor with https://github.com/GoogleContainerTools/kaniko

[2018-05-03 04:04] jufemaiz opened #126 "v1.1.0 » flag provided but not defined: -test.v"
Hi guys,
trying to get this rolling and seeing the following:

[code]
Ref: https://github.com/COzero/linting-docker-hub-images/pull/9/files#diff-354f30a63fb0907d4ad57269548329e3

Build
[code]
Ref: https://travis-ci.org/COzero/linting-docker-hub-images/builds/374243384

We also saw this happening with non-docker approach.

[code]
Rref: https://travis-ci.org/COzero/linting-docker-hub-images/builds/3

[2018-05-03 08:33] zemanlx commented on #126
@jufemaiz starting 1.0.0 it is using different options. Readme is not updated.

[code]

[2018-05-03 08:47] zemanlx opened #127 "Version in release binary is not correct"
## What is wrong

Version in release binary is set to `v0.0.0-unset`. It is like this at least for `v1.1.0` and `v1.0.0`

## Steps to reproduce

[code]

If I build it by myself it is ok

[code]

so it is probably something in your build process.

[2018-05-03 09:01] nkubala commented on #127
Ah, you're definitely right. We set the version through the Makefile, so since we started building with Bazel this isn't getting set. I'll go back and update the previous releases.

[2018-05-03 12:40] jufemaiz commented on #126
Thanks @zemanix. Updating now gives the following when using TravisCI:

[code]

Any further thoughts?

Once I get this working I'll PR for a README.md update so people don't face the same issues in the future.

[2018-05-03 14:14] zemanlx commented on #126
You need to mount your docker socket
[code]

[2018-05-04 01:28] jufemaiz commented on #126
Thank you @zemanlx !!!

[2018-05-04 01:28] #126 closed

[2018-05-10 00:47] #127 closed

[2018-05-11 18:07] nkubala commented on #121
Actually, I already fixed this through https://github.com/GoogleContainerTools/container-structure-test/pull/124 :)

[2018-05-11 18:07] #121 closed

[2018-05-11 21:00] #98 closed

[2018-05-11 21:00] #107 closed

[2018-05-11 21:01] nkubala commented on #98
@AlbertoSH this should now be supported via #130. I'll get the next release out ASAP

[2018-05-14 09:35] Jeoffreybauvin commented on #115
Hi @tejal29

Any news about the deployment of this version ?

[2018-05-14 17:09] nkubala commented on #115
@Jeoffreybauvin I'll be doing a release today

[2018-05-14 18:01] #67 closed

[2018-05-14 19:14] tejal29 commented on #122
We will fix the typo here.

[2018-05-14 19:16] tejal29 commented on #122
https://github.com/GoogleContainerTools/container-structure-test/pull/134

[2018-05-14 19:27] #122 closed

[2018-05-14 20:57] tejal29 commented on #120
Thanks @Jeoffreybauvin. We can look at some tool to generate docs for all tests.

[2018-05-14 21:09] nkubala opened #135 "Useless error when invalid command/flag is passed"
On the latest release (v1.2.0), passing an invalid command or flag results in the following error:

[code]

This should instead tell the user an invalid command or flag was passed.

[2018-05-14 21:11] Jeoffreybauvin commented on #120
That would me a great idea ;).

[2018-05-14 21:14] tejal29 commented on #109
put an pr out today #136

[2018-05-15 10:15] Jeoffreybauvin commented on #115
Thanks @nkubala @tejal29 it's working as expected !

[2018-05-15 10:19] Jeoffreybauvin opened #139 "Time duration for each test"
It would be nice to have the each time duration (in seconds ?)  for each test, and of course having it in the json report :).

[2018-05-15 12:38] Jeoffreybauvin commented on #39
Hi @nkubala

Is this issue fixed ?

I still have this issue (with the latest version) :

[code]

[2018-05-15 17:31] nkubala commented on #39
@Jeoffreybauvin hmm, I thought the fix I merged here fixed the issue but it's possible I missed a case. Could you give me the full command you're running to reproduce this? Also the binary version you're running?

[2018-05-15 17:32] nkubala commented on #139
Agreed, this is something we lost when I switched off of the go testing framework. Shouldn't be all that difficult to just wrap each call to `Run()` in a timer and throw that in the report

[2018-05-15 19:52] Jeoffreybauvin commented on #39
@nkubala the full command :

~docker run --rm -i -v ${PWD}/tmp:/tmp/container-structure-test/ -v /var/run/docker.sock:/var/run/docker.sock -v ${PWD}:/src gcr.io/gcp-runtimes/container-structure-test:latest test --image "debian:jessie" --config /src/test.yaml`

The version  : 1.2.1

[2018-05-15 20:40] nkubala commented on #39
@Jeoffreybauvin I did fix this a while ago, but then I rebroke it recently :)

https://github.com/GoogleContainerTools/container-structure-test/pull/140

[2018-05-15 20:41] nkubala commented on #39
As an aside, I see you're running docker in docker to run your tests....you shouldn't have to do this :) if you're doing this because you're running on OSX, as of version 1.2.0 we're publishing an OSX binary so you can use that. If not, I'd love to hear your use case so I can help you work around that.

[2018-05-15 21:02] Jeoffreybauvin commented on #39
@nkubala  I'm not running on OSX :). I'm Using Atlassian Bamboo with remote Linux agents with Docker installed.

I want my remote agents to be as "light" as possible, so I need to run container-structure-test in a Docker container. It's working well, besides the temporary containers ;).

[2018-05-16 21:48] #56 closed

[2018-05-16 21:48] #109 closed

[2018-05-21 15:13] goutamtadi1 commented on #73
I would like to see this feature get in soon. We would like to run some tests this way, so that we can avoid copying test scripts into the image. This helps us keeping the images concise and doing only one thing. Please prioritize. Thanks.

[2018-05-21 15:45] miwiwa opened #142 "invalid memory address or nil pointer dereference error returned when running test"
After installing the standalone binary through curl and pulling the example python image and yaml test file to my local Docker repo, I ran the command `./container-structure-test -test.v -image gcr.io/google-appengine/python python-structure-test.yaml`.

I'm getting `ERRO[0000] runtime error: invalid memory address or nil pointer dereference` returned.  I'm testing on RHEL7.2.

Any idea what I'm m

[2018-05-21 17:27] nkubala commented on #142
Hey @miwiwa, this is failing because you need to specify a subcommand to the main binary: `container-structure-test test <args...>`, `container-structure-test version`, etc. Also, your args are out of date with the latest binary: `-test.v` isn't a valid flag, you should use `-v [LEVEL]` instead, and you want `--image <image>` and `--config <config>`.

I agree that this error is totally unhelpful t

[2018-05-21 17:27] #142 closed

[2018-05-21 21:30] tejal29 commented on #135
Can you paste command here.

[2018-05-22 19:58] nkubala commented on #135
Passing anything invalid makes this error happen. `container-structure-test foo` should do it. Seeing it a lot from people using older versions of the args, e.g. `container-structure-test -test.v ...`

[2018-05-24 15:43] rrusso1982 opened #144 "Commands with Pipes"
I am trying to run a commandTest in which the command run needs to pipe it's output to another command.  This does not work if I put the entire command, with args, in the command block.  Nor does it work if I put the first command in command and the rest of the line items in args.

An example of the command I am trying to run:

find /var/lib/gems | grep -E '/serverspec-.*/'" | wc -l

[2018-05-29 17:51] andmos commented on #135
@nkubala haha I got this now, upgrading from `0.2.1` to `1.2.2`. Took me a while to figure out the new flags. Maybe I'm blind, but I can't seem to find an overview of all available flags in the repo?

[2018-05-29 18:52] #144 closed

[2018-06-02 09:40] andmos opened #145 "Feature request: Regex support in env-variable tests"
Just a quick request,
when running a `metadataTest` like
[code]
It would be nice to have regex support in the `value:` field, like
[code]
My case is that the baseimage I use can be pulled on a less detailed semantic level (`dotnet:2.1-sdk` vs. `dotnet:2.1.3-sdk`) so it would be nice to not have to change the tests each time a new patch release comes out when I don't actually care about it.

[2018-06-04 16:59] tejal29 commented on #135
@andmos Sorry for the trouble. @nkubala did you get around updating ctc_lib in C-s-t?
If not, i can do it this week and get a release out.

[2018-06-04 17:16] dlorenc commented on #145
This should be doable - are you interested in sending a PR?

[2018-06-04 17:17] dlorenc commented on #104
I think this should be fixed now that we switched to the github.com/google/go-containerregistry library. Can you reopen if it's still reproducing?

[2018-06-04 17:17] #104 closed

[2018-06-04 17:22] nkubala commented on #135
@tejal29 no I didn't get around to updating it, we should do that and get a release out ASAP. Let me know if you need help with it

[2018-06-04 22:45] tejal29 commented on #135
Spent most of today updating to new CTC.
After going through some update errors, i had to pull the latest container-diff. For that we need to make changes to switch c-s-t to use go-container registry.
This will take more efforts than i anticipated.

[2018-06-05 17:24] #119 closed

[2018-06-05 17:45] xingao267 commented on #135
I'm experiencing the same issue while update rules_docker to use the latest version of container-structure-test: https://github.com/bazelbuild/rules_docker/pull/416. @nkubala could you help me take a look at that PR and make sure the command I use to call container-structure-test there has the right and up-to-date flag?

[2018-06-05 19:00] xingao267 opened #146 "Config file validation does not set failure exit code"
I'm having this invalid config yaml file:

schemaVersion: "2.0.0"

commandTests:
- name: 'path-envvar'
  command: ['sh', '-c', 'echo $PATH']
  expectedOutput: ['/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin']

metadataTest:
  entrypoint: ['bazel']

And here is my command:

container-structure-test test --driver docker --image toolchain:intermediate --config container/ubuntu16_04/baz

[2018-06-05 19:32] xingao267 commented on #146
It happens with https://github.com/bazelbuild/rules_docker/pull/416

[2018-06-05 20:33] nkubala commented on #146
Hey @xingao267, thanks for reporting. The reason this is failing to parse is because in schema version 2.0.0, we changed the `command` to be a single string, with a list of `args` passed in addition. Changing this to
[code]
should work.

However, this shouldn't be marking the test run as a `PASS`, so I'm looking into that now.

Just a side note, this will be much easier to do through the MetadataT

[2018-06-08 18:15] nkubala opened #148 "Refactor test runner to remove shared boilerplate between test types"
For example, `FileExistenceTests` and `FileContentTests` have almost the exact same high level implementation. We should refactor these to implement a shared `BaseTest` type, with `CommandTests` extending that to have a few more methods which can be called generically by the `StructureTest` holder object.

[2018-06-12 18:32] xingao267 commented on #146
The tests still pass when yaml parsing fails:

I'm running this:

container-structure-test test --driver docker --image containerubuntu16_04buildersrbe-ubuntu16_04toolchain:intermediate --config container/common/go.yaml --config container/ubuntu16_04/ubuntu16_04.yaml

container/common/go.yaml invalid yaml syntax, and the test output is this:

$ container-structure-test test --driver docker --image

[2018-06-14 16:56] xingao267 commented on #146
@nkubala @tejal29 friendly ping~

[2018-06-14 17:30] nkubala commented on #146
Are you still seeing this at HEAD? I haven't done a release with the fix yet so if you're using the most recent binary you'll still see the issue. I'll get a release out today.

[2018-06-14 17:34] nkubala opened #150 "Remove Bazel"
Bazel isn't really gaining us anything except added complexity for contributors. We should remove it and just use plain old make for building the binary and running tests.

[2018-06-14 18:19] xingao267 commented on #146
Yes. it is failing with binary built from HEAD.

[2018-06-20 17:48] nkubala commented on #146
@xingao267 I'm unable to reproduce this. Building from master, I see
[code]

It looks like you're getting a different error now though: `ERROR: Error parsing config file: yaml: line 17: mapping values are not allowed in this context`. Did you change something in your config?

[2018-06-20 17:53] xingao267 commented on #146
@nkubala Yes. I'm getting an error which occurs when the yaml format is invalid. You can try adding this snippet in your yaml file:

metadataTest:
  env:
    -key: 'PATH'
     value: '/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/opt/python3.6/bin:/usr/local/go/bin'

[2018-06-25 17:28] xingao267 commented on #146
@nkubala Friendly ping~ rules_docker's container_test depends on this. This makes both invoking the binary directly or through container_test gives false negative test results.

[2018-06-25 18:44] nkubala commented on #146
@xingao267 sorry for the delay. I see your problem now: running the invalid yaml by itself will cause the test run to fail (which is the repro I was getting and why I was confused), but running it with another config file that does exit successfully causes the test runner to think everything passed. Looking into a fix for this.

[2018-06-25 20:45] xingao267 commented on #146
Thanks for looking into a fix!

Actually, even with the following single broken yaml file, this would pass:

[code]
where I'm missing the "metadataTest:" above "env:" Also I think fileExistenceTests no longer take isDirectory key, but it didn't complain about either, just simply ignored the errors.

[2018-06-27 00:15] nkubala commented on #146
Ok, I actually think I figured this out now haha. The underlying issue was with the strict unmarshalling we were doing for the configs, which was correct except we weren't checking the error so any parsing errors were thrown away silently. #154 should fix that issue, causing this malformed config to fail. The `isDirectory` key change should also be addressed by this change.

[2018-06-27 19:37] xingao267 commented on #146
@nkubala Thanks! I just tried it out. It works fine with one yaml file. But with multiple yaml files, if one or some of them has broken yaml, the test still passes.

[2018-06-27 20:00] nkubala commented on #146
@xingao267 yep sorry, https://github.com/GoogleContainerTools/container-structure-test/pull/153 didn't get merge yet but this issue got closed automatically.

[2018-06-27 22:03] #146 closed

[2018-06-27 22:04] nkubala commented on #146
sorry, I need to stop typing "Fixes <issue>" in my PRs haha. can you build from HEAD now and try this again?

[2018-06-28 00:07] xingao267 commented on #146
No worries! I just tried, and my tests failed properly!

[2018-07-02 17:24] dlorenc commented on #86
This has been fixed right? cc @nkubala

[2018-07-09 17:14] r2d4 commented on #145
ping @andmos

[2018-07-09 21:07] nkubala commented on #86
No not yet, I fixed unpacked filesystems stacking up on each other but we're still creating a new driver on each test run

[2018-07-10 16:44] andmos commented on #145
@r2d4 yeah I can take a look at it, at least it gives me a good intro to golang 👍 Feel free to add the "up for grabs" label if anyone else stumbles upon this in the meantime.

[2018-07-11 14:06] darrenhaken commented on #142
I came into this problem and the docs on the main site still encourage the use of `-test.v`.

The docs this project really need some love :(

[2018-07-13 01:01] dlorenc commented on #150
Fixed with #159

[2018-07-13 01:01] #150 closed

[2018-07-13 01:48] #135 closed

[2018-07-24 09:33] Evesy commented on #63
Closed by #161

[2018-07-24 09:33] #63 closed

[2018-08-03 10:05] juris opened #166 "field isExecutableBy not found in struct v2.FileExistenceTestHolder"
Running `container-structure-test` fails if there are `isExecutableBy` tests defined.

[code]

[code]

[code]

Tried this on macOS 10.13.6.

[2018-08-10 21:58] nkubala commented on #166
Hey @juris, sorry about this. We merged a PR with this change (and the associated documentation change) to master but I hadn't done a release yet. This will be fixed in v1.5.0.

[2018-08-12 09:48] hhoechtl opened #169 "Display docker commands used to execute tests"
I'm trying to test a ENV based switch from my entrypoint:

[code]

By using:

[code]

But the test fails with `Error: Excluded string 'Xdebug' found in output` and `Error: Excluded string 'blackfire' found in output`, because the output of the test contains this:

[code]

If I try to verify this using a manual command like:

[code]
The output is:
[code]

Respectively
[code]
The output is:
[code]

[2018-08-14 17:47] #166 closed

[2018-08-14 18:16] hhoechtl commented on #169
I just noticed I've overseen the chapter about entrypoints, but nevertheless it doesn't work.

Here's my adaptation:
[code]

By looking at the code and debugging, I can't figure out, where the `setup` is used.

[2018-08-15 07:51] zemanlx opened #170 "Tag 1.5.0 is without "v""
Just noticed that new release `1.5.0` is not tagged as `v1.5.0`. Is that mistake or new thing from this release forward?

![image](https://user-images.githubusercontent.com/18702153/44137381-29edfb5e-a068-11e8-9a4f-3d8367fd393e.png)

[2018-08-15 19:39] nkubala commented on #170
@zemanlx thanks for pointing this out, this was my fault. I created the `v1.5.0` tag and updated the release.

[2018-08-15 19:39] #170 closed

[2018-08-16 11:33] hhoechtl commented on #169
I actually found the reason. Setup works, but our entrypoint script expects a command to be specified.

[code]

As `$1` was not defined it threw an error, which was not visible until I manually simulated the runAndCommit steps.

So I changed the setup to:
[code]

And now everything works fine. Thank you

[2018-08-16 11:33] #169 closed

[2018-09-28 23:54] dualbus opened #171 "Support for negative case testing"
Are there plans to support negative case / expectation testing?

i.e. I can write a test case like:

[code]

To indicate a positive expectation that port `8080` must be exposed. But what should I do to test that, say, port `22` is NOT exposed?

I'd expect something like (example):

[code]

To work

[2018-10-12 07:01] peter-evans commented on #145
It looks like this feature existed but was removed with this PR: https://github.com/GoogleContainerTools/container-structure-test/pull/137

If you want to add it back then I guess we would need to find some way to work around the issue described in the above PR. I'll throw out two ways that came to mind:

1. Allow `key`:`regex` as well as `key`:`value` in the yaml file.
2. Allow the `value` to be

[2018-10-15 05:29] miwiwa opened #173 "Tar driver usage"
I'm trying to use the tool within the IBM Cloud delivery pipeline.  I'm unable to use the Docker driver because each stage in the pipeline is run in a container and they currently don't support running Docker commands in them. They have their own commands to interact with the Docker registry.  I'm trying to use the tar driver until that support is there since the Readme listed it as the option to

[2018-10-17 17:32] nkubala commented on #171
@dualbus thanks for the issue. Hadn't really thought about this, but I can definitely see the use case.

The only fields I think this would apply to in the `metadataTest` are ports, and possibly volumes (fields where there are multiples, so just writing a test to make sure it's either `nil` or `""` isn't enough). I suppose we could add `unexposedPorts` and `unmountedVolumes` to cover these cases.

[2018-10-17 17:50] nkubala commented on #173
Hey @miwiwa, thanks for the issue and sorry this is a bit confusing.

The tar driver works by using our [go-containerregistry](https://github.com/google/go-containerregistry) library to retrieve an image's filesystem from any remote registry, or by consuming a local tarball on your machine, and extracting its contents on disk. It can then do any file-related operations, meaning it can run `fileExi

[2018-10-18 17:48] miwiwa commented on #173
Thanks for the reply.  I assume it's using a `crane pull` command to retrieve the image?  Looking through the issues in the go-containerregistry git project I found one related to 'crane auth issues' that stated,

I'm thinking this is the issue I'm having without Docker installed, unless there's a secondary way to provide the auth?

Second question:  What's the command to include a tarball from lo

[2018-10-19 15:58] #145 closed

[2018-10-19 17:34] KevinClaudius commented on #171
In order to protect against accidentally exposing an undeclared port or adding a volume without updating the test config yml, would it be possible to add a property like:

[code]
If `true`, `noUndeclaredPorts` would fail the `exposedPorts` metadata test if there are any ports exposed other than `8080`.  To maintain backwards compatibility, `noUndeclaredPorts` can default to `false`.

Similar prope

[2018-10-22 09:13] ebriand opened #176 "Unable to test an image tar produced by kaniko"
Hi 😄

I'm trying to build and test a docker image with kaniko and container-struture-test. But I can't have it working 😢 Here is my experiment.

My Dockerfile :
[code]
I build this image with :
[code]

Then I try to test the presence of the ``my-file`` file. My config :
[code]

I test it with the following command :
[code]

The output :
[code]

But if I load the docker image :
[code]

The output:

[2018-10-22 09:18] ebriand opened #177 "Unable to test a docker image tar produced with kaniko"
Hi 😄

I'm trying to build and test a docker image with kaniko and container-struture-test. But I can't have it working 😢 Here is my experiment.

My Dockerfile :
[code]
I build this image with :
[code]

Then I try to test the presence of the ``my-file`` file. My config :
[code]

I test it with the following command :
[code]

The output :
[code]

But if I load the docker image :
[code]

The output:

[2018-10-22 09:23] ebriand opened #178 "Unable to test a docker image tar produced with kaniko"
Hi 😄

I'm trying to build and test a docker image with kaniko and container-struture-test. But I can't have it working 😢 Here is my experiment.

My Dockerfile :
[code]
I build this image with :
[code]

Then I try to test the presence of the ``my-file`` file. My config :
[code]

I test it with the following command :
[code]

The output :
[code]

But if I load the docker image :
[code]

The output:

[2018-10-22 11:09] ebriand commented on #176
Duplicate sorry...

[2018-10-22 11:09] #176 closed

[2018-10-22 11:14] ebriand commented on #177
Duplicate sorry...

[2018-10-22 11:14] #177 closed

[2018-10-31 20:39] nkubala commented on #178
Hey @ebriand! Thanks for filing this issue, and sorry we didn't catch this earlier. This is an issue with the way container-diff was handling compressed image layers in an old version, which we were using in container-structure-test to process the images before running tests on them. This should be fixed by https://github.com/GoogleContainerTools/container-structure-test/pull/181, so once that get

[2018-11-01 19:48] #178 closed

[2018-11-06 18:00] nkubala commented on #173
Hmm, yeah we're not plumbing any special auth through to the containerregistry calls so that could maybe be an issue. We're not using crane directly, but actually using the internals of the library to directly retrieve the image, it's mostly the same though. How are you authenticated to your registry? Have you tried manually writing some credentials to ~/.docker/config.json (just as a test) and se

[2018-11-14 12:10] bgauduch opened #182 "File existence tests do not follow symlinks"
Hello 👋

I am using `fileExistenceTest` to validate Apache 2 module are present on an alpine image, but it looks like it doesn't follow symlinks.
On Alpine, Apache modules are installed in `/usr/lib/apache2` directory, and symlinked to `/var/www/modules` by default.

### Dockerfile:
Simplified Dockerfile used to build the Image with Kaniko:
[code]

### Apache 2 module configuration:
[code]

### Te

[2018-11-17 19:34] alysivji commented on #70
+1 for this feature.

I'm currently using [docker-py](https://github.com/docker/docker-py) to make sure we have the correct libraries installed after mounting a volume containing scripts. This seems like a more robust solution.

[2018-11-23 22:03] Monnoroch opened #183 "File name too long when testing image with bazel"
I'm using this tool with bazel's `container_test` rule from [here](https://github.com/bazelbuild/rules_docker). Here is the error I'm getting:

[code]

The error doesn't occur on 1.4 and 1.5, only on 1.6, so I'm guessing something has changed.

[2018-11-23 22:24] Monnoroch opened #184 "Running container_test in bazel can't be cached"
This tool outputs logs with records like this one:
[code]

These records contain timestamps, therefore, logs have different hash on each execution and my remote-caching cas says there's no files for it's digest. Interestingly enough, local caching *does* work, although I don't really understand how.

`container_test` rule does pass `--quiet` to this binary, but that doesn't seem to work (or does s

[2018-12-04 09:22] bborysenko opened #185 "Version in release binary is not correct"
[code]

Similar to #127

[2018-12-04 19:44] nkubala commented on #173
@miwiwa going to close this issue for now. If you're still seeing auth issues, please open up another issue to track that.

[2018-12-04 19:44] #173 closed

[2018-12-04 19:55] nkubala commented on #182
Hey @bgauduch, thanks for the issue. Have you tried to reproduce this using an image not build with Kaniko? I'm wondering if the underlying issue is in Kaniko's handling of symlinks, or if it's an issue here with cst. I haven't had a chance to try and repro yet, but I'll try and get to it soon.

[2018-12-04 20:09] nkubala commented on #183
Hey @Monnoroch, thanks for the issue. v1.6 refactored container-structure-test to use new container-diff code that lets go-containerregistry handle the processing of the tar image, and then unpacks that image reference on disk. I'm assuming you're running into the Unix file length limit of 255 characters here, so I'm not really sure how this was working before. Is this something you need to suppor

[2018-12-04 20:42] Monnoroch commented on #183
Indeed I'm hitting the Unix file name length issue. I'm using this tool with Bazel's container_test rule, so I can't control the name, it's all in the rules. Basically, the v1.6 is unusable with Bazel (0.19.0) because of this issue. The fact that older versions do work means that there's a change in this tool.

Of course, truncating file names will not work, as Bazel requires you to create pre-dec

[2018-12-04 21:29] nkubala commented on #184
Hey @Monnoroch, thanks for the issue. Surprising to see that you're getting different results remotely vs. locally...do you know of any differences between how caching is done between the two in bazel?

If the rule is already passing `--quiet` to the binary and that doesn't fix it, then I'm not really sure what to do here. I don't think we're gonna take out the timestamp information from the logs.

[2018-12-04 21:38] nkubala commented on #183
It looks to me like that rule is still [using v1.4](https://github.com/bazelbuild/rules_docker/blob/master/container/container.bzl#L194), unless I'm missing something?

Good point about not being able to just truncate the name, though I'm sad we can't just do that and call it a day. I'm not entirely sure the right fix here, since I suspect it might involve some Bazel magic which wouldn't live here

[2018-12-04 21:41] Monnoroch commented on #184
Oh, and I don't actually know how this is implemented in Bazel, but my suspicion is that remote caching computes a hash of the whole output of a dependent rule, including logs, while locally Bazel only looks at hashes of inputs for the current rule. But that's just my gut feeling and it might be more of a Bazel issue. The not working `--quiet` flag is a problem though.

[2018-12-04 21:41] nkubala commented on #184
oof, yeah now that I'm looking at it that flag isn't working correctly. I'll take a look at that.

[2018-12-04 21:43] Monnoroch commented on #184
Thanks! I also want to suggest inverting it: doing quiet by default and having a `--verbose` flag for debugging stuff.

[2018-12-04 21:44] Monnoroch commented on #183
It does, but I've overriden it and tested it with 1.5 and 1.6 while trying to fix #184.

[2018-12-05 13:02] bgauduch commented on #182
Hello @nkubala,

Thank's for the feedback 😄

I have just tested again:
- building the image with Kaniko and running the exact same test : it fail.
- building the image with Docker and running the exact same test : it works.

So it clearly seem's to be related to the way Kaniko handle symlinks 😢

Besides, we (my current project) have had similar problems since the opening of this issues, so we have

[2018-12-05 15:42] Monnoroch commented on #183
@nkubala I think I found the problem. It's [this line](https://github.com/GoogleContainerTools/container-diff/blob/4e6ac73d7257b065240d49e63c9ebb5e10db2c8e/pkg/util/image_utils.go#L199). In particular, `strings.Replace(name, "/", "", -1)` creates a super long file name if you have a long path. Also, this line is not portable to windows.

[2018-12-05 19:38] nkubala commented on #182
@bgauduch thanks for testing it out again. Really sorry to hear that Kaniko has given you issues, symlinks in particular have been a tough issue for us to solve. We'll take a look at this in Kaniko and see if we can figure it out, but feel free to open an issue for this there, and also for any other bugs you run into.

Definitely give Kaniko another shot in the near future - we've been working rea

[2018-12-05 21:54] priyawadhwa commented on #182
hey @bgauduch super sorry to hear that kaniko isn't working for you -- if you've got some spare time, it would be great if you could open an [issue](https://github.com/GoogleContainerTools/kaniko/issues) in the kaniko repo! We'll try to take a look ASAP and see if we can fix this symlink issue :)

[2018-12-06 10:11] bgauduch commented on #182
Hey guys,

Thanks again for your time and feedbacks.
We will most certainly use Kaniko again in the future, depending of the use-case of course 😉

I have opened a [new issue](https://github.com/GoogleContainerTools/kaniko/issues/481) on the Kaniko repo.
We have already burned a lot of fuel trying to push Kaniko in our CI, so it is quite terse as we obviously have to move on. Besides there seem's t

[2018-12-10 19:33] nkubala commented on #185
@bborysenko thanks for filing this issue, I must have missed this again when I did the last release :man_facepalming: I'll fix it with the next release.

[2018-12-28 07:40] estahn opened #188 "The specified key does not exist. for 1.7.0"
Just tried to get the latest version for MacOS.
[code]

[2019-01-08 17:00] nkubala commented on #188
ugh, sorry about that. I butchered our CI when I merged a big refactor a few weeks ago. it should be fixed now, so I'm gonna close this, but if you still have problems please reopen!

[2019-01-08 17:00] #188 closed

[2019-01-08 17:01] #185 closed

[2019-01-16 15:32] OliverNocon opened #193 "option --pull breaks with registry url containing a port"
With version 1.7.0 option `--pull` breaks for driver `docker` if image registry contains a port, like e.g.

_my.registry:50000/path/image:latest_

Extract from the log:

time="2019-01-16T14:36:50Z" level=fatal msg="error pulling remote image my.registry:50000/path/image:latest: API error (400): invalid tag format"

This seems due to https://github.com/GoogleContainerTools/container-structure-test/

[2019-01-18 13:50] dgageot opened #194 "Unable to pull images in the `img:tag@sha256:abcab` format"
[code]

The code seems to try to parse image references manually.

[2019-01-26 02:02] rcabral-splunk opened #195 "File Existence Tests shouldExist = false raising 'panic: runtime error: invalid memory address or nil pointer dereference' error"
I'm currently running v1.7.0 in OSX with a simple scenario like:

[code]
Then I run `container-structure-test test --image [my-image] --config [myconfig].yml` and I immediately get:
[code]

I couldn't find any similar issue logged so far yet, so wondering someone else had same error.

[2019-01-26 02:11] rcabral-splunk commented on #195
I guess I found a workaround for that by removing the `permissions` attribute from my config file. Yes, it doesn't make sense to check a permission on a missing file testing case, but it would be nice if whether this is added to the documentation or have the code ignoring permission test when shouldExist flag is false.

[2019-01-28 14:51] #182 closed

[2019-02-03 06:03] abdennour opened #196 "cannot reuse .env in expectedOutput"
My images are built by docker compose based on ARGs which are taken values from `.env`.

I would like to make the assertion accordingly:

[code]

[code]

When I ran tests, I got:

[code]

[2019-02-06 17:02] briandealwis opened #197 "Failure with windows images"
In trying to [upgrade bazelbuild/rules_docker to use container-structure-test](https://github.com/bazelbuild/rules_docker/pull/685), we hit an odd test failure with performing tests against windows images:
[code]

Steps to repeat:
  - `git clone https://github.com/bazelbuild/rules_docker`
  - `cd rules_docker`
  - `git pull origin pull/685/head` (pulls the branch to update to 1.7.0)
  - `bazel tes

[2019-02-06 20:43] briandealwis commented on #197
I believe the problem is that the rules_docker tests are somehow creating images with 0-byte `layer.tar` files.  Details on
https://github.com/bazelbuild/rules_docker/pull/685#issuecomment-461179681

[2019-02-13 18:36] briandealwis commented on #197
Bug was in google/go-containerregistry#367 and now fixed google/go-containerregistry#368

[2019-02-19 20:10] #193 closed

[2019-02-19 20:10] #194 closed

[2019-02-19 20:20] nkubala commented on #195
@rcabral-splunk thanks for the issue. this is definitely a bug, I opened a PR for a fix.

[2019-02-19 20:23] nkubala commented on #196
@abdennour thanks for the issue. my understanding was that `.env` files can be read by the shell when directed to (via `source .env` or `sh .env`, but not by default, so I'm not entirely sure I understand your use case. would you be interested in sending a fix for this?

[2019-02-19 20:50] #195 closed

[2019-02-19 21:49] nkubala commented on #197
I just released v1.8.0 which should have the fix from go-containerregistry picked up. @briandealwis can you verify it's fixed and close this issue?

[2019-02-20 01:39] adriantorrie opened #203 "README doesn't document the need for `schemaVersion: "2.0.0"`"
README doesn't document the need for `schemaVersion: "2.0.0"`

[code]

[2019-02-20 12:47] OliverNocon opened #204 "Provide Docker image including shell"
Hi,

Some usage scenarios require a shell to be available in the image:
* debugging
* usage in Jenkins pipelines
* ...

It would be great if there was another Docker image available containing also a shell.
This would be similar to the debug image of the Kaniko project.

As a workaround we created a custom image but would be happy to get rid of it:
https://github.com/SAP/devops-docker-images/tree/

[2019-02-21 04:28] briandealwis commented on #197
Works for me!  Thanks @nkubala!

[2019-02-21 04:28] #197 closed

[2019-03-01 00:57] derekargueta opened #205 "Ability to disable color in output"
When running in Jenkins it yields the escaped characters. Would be great if the color output could be opt-out. I'd be willing to contribute the PR if it's something deemed reasonable.

[2019-03-01 19:49] nkubala commented on #205
@derekargueta seems reasonable, PRs definitely welcome! check out the way we [handle color](https://github.com/GoogleContainerTools/skaffold/blob/master/pkg/skaffold/color/formatter.go) in skaffold for some prior art.

[2019-03-01 19:52] nkubala commented on #204
@OliverNocon thanks for the issue, I would be open to releasing a `container-structure-test-debug` image with a shell and a few debug tools baked into it. would you be interested in writing a short Dockerfile and sending a PR?

[2019-03-01 19:58] #203 closed

[2019-03-10 14:31] adriantorrie opened #207 "Feature request: JUnit results"
Add `junit` as an output format to allow CI tools, that can parse Junit results, to publish and report on test statistics as part of overall unit test results for a CI pipeline.

[2019-04-19 06:26] eunomie commented on #205
PR #208 allows to disable colors, automatically if not in a terminal and manually through a `--no-color` flag

[2019-05-05 19:50] OliverNocon commented on #204
Yes, I will have a look at it ...

[2019-05-06 08:44] charlyx commented on #139
I'm willing to work on it and open a PR 😄

[2019-05-08 07:40] Guikingone opened #212 "[BUG] Unsupported schema version"
Hi everyone,

I open this issue due to a recent error when using the `v2.0.0` schema version:

[code]

[code]

MacOS Mojave (10.14.4)

Latest

[code]

[code]

The `eu.gcr.io/guikingone/prod:7.3.4-fpm-alpine3.9` is actually available on my machine, I've tried to use the `--pull` option to use the GCR version but it seems that the pull access aren't shared.

Thanks for the help and have a great day

[2019-05-08 07:46] Guikingone commented on #212
Ok, it seems that when using the following syntax:

[code]

The file is parsed:

[code]

Maybe a documentation update on the version syntax can be useful? 🤔

[code]

Proposed change:

[code]

[2019-05-09 16:17] vasylmalanka opened #214 "expectedError doesn't read stderr"
During running of a simple test:
[code]
I am getting:
[code]
which is definitely incorrect.

[2019-05-14 08:02] djuelg opened #215 "Enhance Documentation with best practices"
Hi,

I really enjoyed working with your framework. But I encountered pitfalls that consumed some hours. I wrote a blog post about my problems. Maybe you can find something worthy to add to your documentation :)

https://craftcodecrew.com/sophisticated-google-container-structure-tests/

Have a nice day,
Domi

[2019-05-16 10:00] Aisuko commented on #214
Same issue with you, my situation below:

[code]

[code]

[code]

[2019-05-27 07:00] lielran opened #218 "healthcehck test"
test the HEALTHCHECK command + options of the target container

[2019-05-28 23:19] amitsaha commented on #81
Isn't this already supported as per the docs (via `Uid` and `Gid` fields?) https://github.com/GoogleContainerTools/container-structure-test#file-existence-tests

[2019-06-05 06:15] Guikingone commented on #212
Closed as https://github.com/GoogleContainerTools/container-structure-test/pull/220 as been merged.

[2019-06-05 06:15] #212 closed

[2019-06-05 07:12] eunomie commented on #205
As #208 has been merged, maybe we can close this issue?

[2019-06-07 09:26] shashikant-koder opened #221 "getting error while using this test framework."
I am getting below error while executing the test case.

0.01s$ ./run.sh
/usr/local/bin/structure-test: line 1: syntax error near unexpected token `<'
/usr/local/bin/structure-test: line 1: `<?xml version='1.0' encoding='UTF-8'?><Error><Code>NoSuchKey</Code><Message>The specified key does not exist.</Message><Details>No such object: container-structure-test/latest/container-structure-test</Details

[2019-06-13 17:35] #205 closed

[2019-06-17 09:38] bharathguvvala commented on #215
Found this very useful. This variant of syntax for the command tests wasn't mentioned in any of the official documentation. Thanks :)

[2019-06-18 08:08] tqa236 opened #222 "Can this tool run on Windows?"
As the title indicates, I would like to know if this tool supports Windows or is there any plan to support Windows in the future? If yes, is there an example somewhere about how to install and run it on Windows?

Thank you very much.

[2019-06-21 07:43] scrumteamravens opened #223 "Connection refused for curl command in commandtest"
I have my DockerFile with below COPY instruction

[code]

Content of testentry.sh
[code]

commandtest.yaml
[code]
Upon execution against the image built, I get the below error in the text execution results -

**0curl: (7) Failed to connect to localhost port 8080: Connection refused
Error: Test 'catalina' exited with incorrect error code. Expected: 0, Actual: 7**

But when I explicitly login into t

[2019-06-25 09:19] #223 closed

[2019-07-04 13:12] scrumteamravens opened #224 "Integration with Jenkins"
Hi All,

We are building images in jenkins pipeline and using "container-structure-test" to test the images. We want to know if we can integrate "container-structure-test" with Jenkins? We would like to get a detailed report of testcases executed, passed and failed in Jenikins build report.

[2019-07-05 13:42] OliverNocon commented on #224
Maybe you can have a look at the implementation of : https://sap.github.io/jenkins-library/steps/containerExecuteStructureTests/

There the resulting test report is archived in Jenkins.

[2019-07-09 11:51] parul1593 opened #225 "podman support for commands test"
Is there a plan to support podman/buildah for doing command test in container structure test. As for doing command test today, it needs docker today.

[2019-07-17 07:42] nthienan commented on #207
Any plan on this?

[2019-07-25 10:52] helmuthva opened #226 "Provide release for arm64 or instructions on how to build from source"
It would be nice if container-structure-test(s) could be run on arm devices

[2019-07-25 11:18] helmuthva commented on #226
Ok, answered the second part of the ticket myself:

Building and installing container-structure-tests for arm64 from master can be easily done like this:

[code]

[2019-07-25 12:18] helmuthva commented on #70
+1 for this feature

[2019-08-01 17:02] vishalsangave opened #227 "Setup in command test fails to create dir or touch file"
[code]

[code]

[2019-08-06 18:19] donmccasland commented on #52
I don't think we need to alter the logic for the test infrastructure.  I think there are 3 suitable workarounds for the fact that aws --version behaves in an unexpected way.

I'm going to close "won't fix," but if you disagree please reopen with discussion.

[2019-08-06 18:19] #52 closed

[2019-08-06 18:23] donmccasland commented on #70
Okay.  There's community interested in this one and an old PR.

I'm going to file this 'help wanted' and put it in the Icebox, but if any of you want to pick up where the previous author left off, let me know and I'll put it 'In Progress'

[2019-08-06 18:25] donmccasland commented on #73
Agreed.  We'll need to dust off the work in #82 to get this addressed.  Iceboxing and adding 'help wanted'

[2019-08-06 18:31] donmccasland commented on #81
Yeah, file-existence uid/guid should cover this.

[2019-08-06 18:31] #81 closed

[2019-08-06 21:40] #204 closed

[2019-08-06 21:47] donmccasland commented on #214
Thanks for this bug!  I'll be trying to reproduce locally..

[2019-08-06 21:48] donmccasland commented on #215
Thank you for filing this!  Would you like to submit a PR for the changes?

[2019-08-06 21:49] donmccasland commented on #218
I'm sorry.  I do not understand.

[2019-08-06 21:52] donmccasland commented on #224
Thanks for filing this!  We'd love to see this done.

[2019-08-06 21:53] donmccasland commented on #225
No current plans.  But we are accepting designs and code changes.

[2019-08-06 21:54] donmccasland commented on #226
We are unlikely to add release bits for arm64.

[2019-08-06 21:54] #226 closed

[2019-08-06 21:58] donmccasland commented on #221
Can you attach your run.sh and command_tests.yaml please?

[2019-08-07 03:45] lielran commented on #218
the dockerfile can contain health neck commad
e.g.
[code]

[2019-08-07 04:51] Aisuko commented on #214
Feel free ping me, I'd like to contribute to this.❤️

[2019-08-07 08:30] vishalsangave commented on #227
More info about this, /data is volume in Image that can be mounted from outside. /data is the current working directory for all commands we send.

[2019-08-08 07:36] djuelg commented on #215
Yeah, in the next couple of days I can do that :)

[2019-08-09 15:42] #139 closed

[2019-08-12 14:06] djuelg commented on #215
Here we go: https://github.com/GoogleContainerTools/container-structure-test/pull/228

It's not much but maybe it helps someone out there

[2019-08-12 18:36] #215 closed

[2019-08-17 10:21] zephinzer opened #229 "`isRegex` property is not documented in README.md for `metadataTest.env` and `metadataTest.labels`"
Could not find information from the README.md on this, would be good to add this into the documentation! I can create a PR when I have time if this is still open-

[2019-08-17 10:24] zephinzer opened #230 "In v2.MetadataTest, `envVar` property is actually `env`"
According to the patterns for converting the listed properties into YAML properties from the README.md, it seems like the `EnvVars` should correspond to a property named `envVars` but it is actually `env` (checking from the code at https://github.com/GoogleContainerTools/container-structure-test/blob/master/pkg/types/v2/metadata.go#L26). Should it be renamed to `envVars` or should the docs be chan

[2019-08-21 20:53] donmccasland commented on #229
Oh thanks for finding this!  would you be interested in offering a PR?

[2019-08-21 20:54] donmccasland commented on #230
Nice catch.  I'll investigate.

[2019-09-05 09:59] fentonfentonfenton opened #232 "using --test-report suppresses output"
while developing locally, with `--test-report` set, the output is suppressed. makes it harder to debug things that are failing. you can set `-v info` to get a bit more info, but again, it's not very easy to diagnose why things are failing. also useful for CI logs.

if `--test-report` is used i think we should get full terminal output still, and the user could use `-q` if they prefer a quiet time.

[2019-09-05 13:22] fentonfentonfenton commented on #70
+1

[2019-09-06 16:02] fentonfentonfenton commented on #196
as a workaround i use something like this for the command test:

[code]

[2019-09-17 21:09] richnusgeeks opened #234 "Add more abstracted resources as currently only Command tests is provided."
I stumbled upon this framework while doing research for containers acceptance testing needs. I used [dgoss](https://github.com/aelsabbahy/goss/tree/master/extras/dgoss) for my containers acceptance testing needs till now and love the resources provided by its underlying [goss](https://github.com/aelsabbahy/goss) for the cloud native IAC pipelines. On other hand, I loved the Metadata test functiona

[2019-09-21 17:05] gtirloni commented on #214
@Aisuko the test will check the stderr output of running the command, not from Docker. You could run it like `bash -c your_command` though.

I think you're better off using a fileExistence test if you want to ensure the command doesn't exist.

[2019-09-23 22:09] zerstoeren commented on #70
If your Entrypoint is /bin/bash, you can pass arguments as docker run -it container something.sh argument argument argument

[2019-09-26 08:49] charlyx commented on #207
Hi 👋

@gmembre-zenika and I are willing to work on it.

First we believe it'd be better to refactor the output feature.
As for now this feature relies on some `if` statements for the JSON output only.
We're planning to create a new interface called `Output` to handle several output format such as text or json: all this work will take place in a PR of its own.

Then, we will submit a new PR with a

[2019-09-30 20:43] mvilrokx opened #235 ""exec: \"type\": executable file not found in $PATH": unknown"
I am trying to check the existence of certain commands in my container.  The container uses `centos:7` as the `FROM` image.

Since centos does not have the `which` command, I am using the (bash) builtin `type` command with the `-P` flag to verify the path of the commands I need.  However, this results in:

`"exec: \"type\": executable file not found in $PATH": unknown`

I.e. it seems that the tool

[2019-09-30 20:59] mvilrokx commented on #235
ugh, never mind, I need to use `bash -c` I guess, that seems to work:

[code]

[2019-09-30 20:59] #235 closed

[2019-10-01 20:29] sparky005 commented on #222
I'd also like to know :) it looks like it's written in go so I think it should be possible? But I don't really know

[2019-10-08 17:25] nkubala commented on #222
in theory there isn't anything stopping it from being possible, but the release infrastructure we have isn't set up to build a Windows binary so we'd have to rework the release pipeline. we also don't have any Windows tests so we can't guarantee that everything will work perfectly, but if you'd like to compile from source and try it out for yourself let us know how it goes!

[2019-10-10 19:26] sparky005 commented on #222
all good @nkubala  :)
so far it seems to work just fine. though as a note for fileExistenceTests, using backslashes (`\`) always fails. You have to use forward slashes (`/`). Mildly confusing for a Windows admin but hardly a show stopper.

[2019-10-17 10:53] nthienan commented on #207
@charlyx I'm not familiar with ` jstemmer/go-junit-report` as well as Golang, but I believe your idea is great. Go ahead! I'm looking forward to seeing this is implemented

[2019-10-21 20:06] alop opened #236 "Permissions as octal, please?"
Unix permissions as 'drwxrwxrwx' are a lot harder/longer to type than their corresponding octal values.

0444 is easy to type vs '-r--r--r'
Would be nice if both was supported

[2019-11-08 21:26] brianelliott-wt opened #237 "High memory usage when running tests"
I have a 6GB docker image with a fair amount of tools installed and I am seeing some very high memory usage when running tests on it.  I am seeing the Container Structure Test process take upwards of 5-6GB of memory at peak and the docker process also taking up 6-7GB of memory at its peak.  The testing software does eventually clean up, but the docker process does not until its restarted.

I have

[2019-11-11 20:54] brianelliott-wt commented on #237
Figured out what was going on.  I probably should've assumed that checking the existence of a directory wouldn't work as well as I was hopping with a "File Existence" check.

After digging deeper, It seems that this is pulling the files specified off of the container and then checking their permissions https://github.com/GoogleContainerTools/container-structure-test/blob/5ca6fe610afaa34c8d46f55076

[2019-11-18 20:02] casz commented on #222
ended up creating docker image for windows (and ubuntu) https://github.com/3shapeAS/containerized-structure-test
https://hub.docker.com/r/3shape/containerized-structure-test

[2019-11-19 22:44] smrutimandal opened #238 "[Gitlab CI] First run always fails"
I am using this tool in my Gitlab CI pipeline with the below config file

[code]
Command being executed

[code]

On the first run, I get the following error
[code]
When the job is rerun, it passes without any issues.

[code]

I have tried pulling both the test candidate image and `gcr.io/gcp-runtimes/container-structure-test:latest` image in a previous step before running the test.

Could you plea

[2019-11-20 05:44] GarryBrown88 commented on #183
Use LongPathTool, Long Path Tool can simplify and probably end your problems in unlocking, managing and renaming files that appear to have a long filename.

[2019-11-20 17:13] smrutimandal commented on #238
[Update]

Running the container once, before testing it seems to solve the issue.

[code]

Not sure about the root cause yet.

[2019-11-28 19:36] krisdevopsbot opened #239 "newline handling?"
[code]
or with
[code]
[code]

Seems like newlines are messing up the compare

[2019-11-28 19:47] #239 closed

[2019-12-11 21:07] nilement commented on #207
Hi

@charlyx  and @gmembre-zenika  , are you still working on this? I would consider looking into and implemeting your proposed solution, or something similar, if you're not.

[2019-12-12 12:25] charlyx commented on #207
@nilement our solution has not been confirmed by a maintainer yet. We're still willing to make it but won't waste time implementing it if it's not OK.

@donmccasland what do you think?

[2019-12-31 00:29] richnusgeeks opened #240 "Exposed Ports Metadata test fail if the protocol is specified."
The cst fails in case the Dockerfile of the image under test contains EXPOSE <port>/<protocol> form. I stumbled upon it while exposing an udp port but verified it happens even with explicitly specifying tcp protocol.

On quick search through source, seems the code only making use of the <port> part not the <protocol> part in {host,tar}_driver.go :

[code]

[2020-01-07 15:15] setola commented on #70
+1

If possible this feature should change docker run user parameter too.

I mean the equivalent of running:
docker run --user 405:100 alpine whoami

[2020-01-07 18:21] nkubala commented on #238
hey @smrutimandal thanks for the issue. our team unfortunately doesn't have the engineering bandwidth to dig into issues on this project at the moment. my guess here though is this has something to do with the fact that you're mounting in the docker socket - the test driver doesn't seem to be getting the correct `currentImage` when trying to create the container, which might have to do with the mo

[2020-01-07 18:23] nkubala commented on #207
hey @charlyx and everyone else, sorry for the radio silence on this. based on the community support here, I think we'd be happy to accept this as a feature of the tool. contributions are certainly welcome, I'll do my best to review the PR if and when it's sent :)

[2020-01-07 18:48] nkubala commented on #240
@richnusgeeks thanks for the issue, and sorry this is happening! our team unfortunately doesn't have the engineering bandwidth to dig into issues on this project right now, but we're certainly happy to accept contributions. if you're interested in fixing this, please send the PR our way!

[2020-01-16 22:12] jpreese opened #241 "GitHub integration"
With the public release of GitHub Actions, we thought that there might be value in adding a container structure test action for consumption in workflows. We've personally found value in wiring it up in our build container repositories to check our build tools actually run before pushing to the container registry.

Would there be interest in putting a link to the marketplace (https://github.com/mar

[2020-01-28 16:30] dgageot opened #242 "nil pointer dereference on FileExistenceTest"
When testing that a file doesn't exist, if the `uid` and `guid` are not set to `-1`, then container-structure-test will panic.

[code]

See:
[code]

This configuration works though:

[code]

[2020-02-25 15:38] reschenburgIDBS opened #245 "--pull output appears in --test-report"
Hi

when running cst with --pull and --test-report, the --pull output appears in the --test-report file, which is annoying as I then can't parse the test report as json without going through the extra step of extracting the json first.
Sadly, when providing -q, the test-report is empty.. which is counter intuitive as -q should really only quiet stdout.

It would be good to have test-report always

[2020-02-26 21:08] nkubala commented on #245
@reschenburgIDBS yeah this would be good to update, I agree the output could use some love. are you interested in sending a PR? our team isn't actively working on this project at the moment, but I'm happy to review any contributions.

[2020-02-28 10:39] GarryBrown88 commented on #183
I suggest you try LongPathTool is the very good program for error, unlock solution. Try it and solve your problem. I used long path tool and I solve my error, unlock problem solution.

[2020-03-04 10:29] nthienan commented on #207
@charlyx Are you still working on this? If yes, any update?

[2020-03-04 10:33] charlyx commented on #207
Yes, @gmembre-zenika and I will be working on this issue soon.

[2020-04-02 12:38] mvoitko commented on #32
@nkubala Hi. I am still facing the same issue. How could I resolve it?

[2020-04-07 00:21] nkubala commented on #32
@mvoitko this should be resolved, and it seems to work for me:

[code]

[2020-04-21 08:34] dgageot opened #253 "--pull can only pull public images"
The code that runs `docker pull` currently doesn't load the credentials from `~/.docker/config.json`. So only public images can be pulled.

[2020-05-30 18:52] arg2009 opened #256 "Allow compilation of arm64 and other architectures"
I use this tool to test my docker images that I create on my ARM core kubernetes cluster.

In order to compile it I have a small hack to remove the `amd64` architecture hardcoded in the Makefile.
[code]

I'd like to remove this hardcoded architecture and allow compiling in other architectures.

I have made the modifications on my fork and linked the PR to this issue below.

https://github.com/Goog

[2020-05-31 08:53] arg2009 commented on #256
#255

[2020-06-03 08:13] arg2009 commented on #256
Hi @dlorenc and @nkubala ,

I just thought I would tag you on this issue in case you missed it.

I am not sure if PR automatic reviewers tag is enough or if I also need to tag you here so just in case!

Cheers
Ruben

[2020-06-11 00:32] arg2009 commented on #256
Hi @nkubala ,

Did you see my replies and updates to your comments?

Let me know what you think about my replies.

Cheers
Ruben

[2020-06-22 13:25] errordeveloper opened #257 "mime type check"
It'd be nice to be able to validate certain file types, e.g. shared objects, dynamically linked executables, static executables, and executables for different architectures.

[2020-06-23 07:53] errordeveloper opened #258 "dynamic linkage checks"
It would be great to be able to check linkage.
It's currently possible with `commandTests`, but only if `ldd` is present (often not the case for minimal images) and it requires matching the output, which can be tricky to actually implement.

Example:

[code]

[2020-07-01 18:36] nkubala commented on #256
closed by https://github.com/GoogleContainerTools/container-structure-test/pull/255

[2020-07-01 18:36] #256 closed

[2020-07-01 19:04] nkubala commented on #257
@errordeveloper long time no see :) this seems like a reasonable thing to do, makes me wonder if there's other common file metadata we might want to be validating as well.

at the moment the project is in maintenance mode, and my hands are full with skaffold so I doubt I'll be implementing this any time soon. that said, if you feel motivated to submit a PR I'm around for code review!

[2020-07-01 19:06] nkubala commented on #258
@errordeveloper another reasonable request after https://github.com/GoogleContainerTools/container-structure-test/issues/257! I'd be happy to accept a contribution for this if you're interested.

could we consolidate `noMissingLibs` and `libraries` and just have a list of `requiredLibraries`? I suppose we might also want to check for optional ones but just a thought.

[2020-07-10 17:54] #242 closed

[2020-07-29 14:26] blaggacao opened #262 "Organize logs per file"
Relying 1:1 from https://github.com/GoogleContainerTools/skaffold/issues/4580#issue-667380089

[2020-08-05 13:37] x-Xymos opened #263 "Incorrect permissions inside test container with setuid turned on"
I'm not exactly sure if this is a bug but when running a test against an image to check the permissions of a binary executable with the setuid bit turned on, it reports different permissions to what they actually are when manually starting the container.

[code]
`Error: /app/build/usr/local/bin/my-binary has incorrect permissions. Expected: --rwsr-xr-x, Actual: urwxr-xr-x`

My own container:
[code

[2020-08-06 21:48] sluetze opened #264 "CST does not support OCI, if OCI is enabled by dependency bump, windows build fails"
Hi,

I try to use CST with OCI Images. Cause reasons, I MUST work without docker. Thus I use the --driver tar.

This does not seem to work with CST:
**Error: error creating driver: retrieving image: MANIFEST_UNKNOWN: OCI manifest found, but accept header does not support OCI manifests**

[code]

I did some research, fetched the sourcecode, updated the dependency github.com/google/go-containerregis

[2020-09-11 13:26] bgauduch opened #265 "Allow templating in test config files"
First of all, thanks a lot for your work and this very nice tool !

Allowing templating to generate multiple test config files (mostly command ones) would be a very nice addition.
Of course it is possible using some third party templating tools to do that, but including such feature directly in container-structure-test (and leveraging go templating) could be a good idea, WDYT ?

Exemple use case:

[2020-10-15 11:35] pjotre86 opened #268 "Testing baseimage (FROM) possible?"
Hey!
Is it possible to test the base image of a docker image with this tool?
Basically I want to ensure that a docker image has something like that in the Dockerfile:
`FROM ubuntu:18.04`
Thanks!

[2020-11-04 20:17] #207 closed

[2020-11-04 20:21] nkubala commented on #265
@bgauduch thanks for the feature request. this is a bit tough because right now, the tool interprets any environment variables specified with `$` to be coming from the container it's testing against, not the host. so i'm not sure what the right way to tell the tool which variables should be interpreted from the host that's running the tests, versus the container the tests are being run against.

i

[2020-11-04 20:25] nkubala commented on #268
@pjotre86 thanks for the question. this isn't explicitly possible right now, but it's not hard to imagine a metadata test that checks the image inheritance (since i believe this is present in the docker metadata already). i don't think our team will have time to implement this, but contributions are certainly welcome!

you could also potentially hack around this by using a command test that does s

[2020-11-08 14:28] bgauduch commented on #265
Hello @nkubala, thanks for your feedback !
It confirm what I was thinking : generating config files from a template with placeholders substitution.

Thanks anyway, keep up the work on this very nice project 👍

[2020-11-08 14:29] #265 closed

[2020-11-19 14:15] cmamigonian opened #270 "Run in Kubernetes (without daemon)"
I'm trying to run `container-structure-test` in CI which is running in k8s.  For security reasons I'm not running Docker-in-Docker and mounting the daemon into my pod, so I won't have the daemon available to run the image for the tests.  I don't know if this is possible, but could something be done in this project to enable this use case?

[2020-11-27 12:11] shrenikbakhai opened #271 "Any other unit testing framework for container?"
Note: container-structure-test is not an officially supported Google project, and is currently in maintenance mode. Contributions are still welcome!

Is there a reason google stopped supporting the project or does google have any alternate for container structure test?

[2021-01-18 11:50] dduportal opened #273 "Junit output does not seem valid (parsing error in Jenkins)"
Hello there 👋

First of all thanks for this really useful tool!

While trying the junit output feature from the latest `v1.10.0`, I was not able to feed it to Jenkins as a Junit standard report.
The error happens during the Junit parsing:
[code]

It looks like that the XML generated by CST. is not valid:

[code]
(The `cst.yml` file is public and available here: https://github.com/jenkins-infra/doc

[2021-01-26 02:19] nkubala commented on #270
hey @cmamigonian, we have support for a `tar` driver which will flatten the filesystem of your image and run tests against that. it should work fine with no Docker daemon available.

`container-structure-test test --driver tar --image gcr.io/registry/image:latest --config config.yaml`

hope this is what you were looking for!

[2021-01-26 02:19] #270 closed

[2021-01-26 15:23] cmamigonian commented on #270
that's great, thank you!

[2021-01-26 15:51] ielizarov commented on #273
Hello! First of all, thank you for the tool, it does its job well and is written very concisely.

I'm also trying to use JUnit-formatted reports in Jenkins and it fails with the same error message.
It would be awesome if JUnit reports are Jenkins-compatible.

[2021-02-24 19:01] nkubala commented on #271
@shrenikbakhai thanks for the question. our team has put this project into maintenance mode for no other reason but lack of staffing. much of our original team has moved on, and the remainder of us are actively maintaining [skaffold](https://github.com/GoogleContainerTools/skaffold), which has taken up the majority of our resources. we don't actively have other teams stepping up to help us maintai

[2021-02-25 01:49] phpPhil opened #275 "Testing scripts relying on .bashrc"
Hi all.
First of all... great library, really like the simplicity of it.

We have a fairly rich docker container that makes heavy use of bash scripting to dynamically define env variables in the ~/,bashrc.   After trying all kind of things for the last days I cannot get container structure tests to work in the context of the bashrc. Whatever I do, the env vars seem to be undefined.

Here's an exam

[2021-03-02 22:17] sluongng opened #276 "tar driver does not work on MacOS"
I am trying to run some basic fileContentTests and fileExistenceTests on MacOS with tar driver

[code]

With this bazel test setup
[code]

Which resulted in the following error
[code]

I am using bazel rules_docker on latest HEAD https://github.com/bazelbuild/rules_docker/commit/e15c9ebf203b7fa708e69ff5f1cdcf427d7edf6f

[2021-03-02 22:19] sluongng commented on #276
@nkubala I think you maintain both this project and https://github.com/GoogleContainerTools/container-diff, could you please take a look?

[2021-03-24 20:01] derekargueta commented on #271
Thanks for the follow-up @nkubala, gives me more confidence using this to test some new containers I'm working on :) Don't think I have the bandwidth for maintainence, but as a happy end-user I'll gladly contribute where I can.

[2021-03-24 23:09] tatitati commented on #214
I have the same problem. I tried with `bash -c your_command`, but no luck for now. Is a basic one:
[code]

output:
[code]

[2021-03-31 15:38] chris-ratcliffe opened #277 "file contents test regex seems to not be working properly"
Hello.  I have the following 2 tests defined:

fileContentTests:
  - name: 'hosts check'
    path: '/etc/hosts'
    expectedContents: [".*127.*"]

commandTests:
  - name: "check hosts"
    command: "cat"
    args: ["/etc/hosts"]
    expectedOutput: [".*127.*"]
    exitCode: 0

In reality, they do the same thing.  Make sure the string 127 exists somewhere in the /etc/hosts file.  The command test w

[2021-04-20 16:31] nkubala commented on #276
hey @sluongng, thanks for the issue. our team isn't currently working on this project anymore, and we're not really submitting bug fixes ourselves. if you'd like to take a stab at fixing this issue, I'll try and take a look at any opened PRs!

[2021-05-06 19:29] mjeco opened #278 "Metadata Cmd test failing but reported expected and actual values are identical"
The Metadata Cmd test is returning failing but the actual and expected CMD values are the same.

[code]

I'm  running this with `gcr.io/gcp-runtimes/container-structure-test:v1.10.0 ` and the following `config.yaml`

[code]

The error message comes from [metadata.go:L135](https://github.com/GoogleContainerTools/container-structure-test/blob/v1.10.0/pkg/types/v2/metadata.go#L135) which compares `le

[2021-05-11 06:00] sluongng commented on #276
Just FYI my current approach with this is to create 2 targets: 1 with `compatible_with` Linux and the other with MacOS. And use Docker driver on MacOS. It's a hack but it allow you to do some basic tests such as verifying the distro of the container OS.

@skirino interesting observation... I think bazel test tmpdir might not allow the operation for a good reason (but it does not make much sense wh

[2021-05-24 20:04] dpraul commented on #78
I know this is quite an old issue... but just wanted to share that we managed to do an "integration test" on a node server by doing the following, which I'd think would work for any daemon process:

[code]

It works by:
1. Running the app as a daemon with the output piped to a local file.
2. Waiting enough time for the background app to run
3. Killing the app
4. Reading out the contents of the log

[2021-07-19 14:55] dduportal opened #279 "New Release and new maintainer"
Hello @nkubala @tstromberg ,

First of all, thanks for all your effort and time put in this project.

As per https://github.com/GoogleContainerTools/container-structure-test/pull/274#issuecomment-850004779, it seems there isn't someone with enough bandwidth to release this project, or to take issues/triage/PR in account.

Would you be willing to add new maintainers to share the burden? In that cas

[2021-08-17 12:24] jrosdahl opened #280 "Crash when running in a container with an empty environment variable"
When running in a container started with `-e EMPTY` and the `EMPTY` variable is either unset or the empty string, you get a crash like this:

[code]

That's because the `"Env"` part of the `"Config"` object received from the Docker daemon looks something like

[code]

and https://github.com/GoogleContainerTools/container-structure-test/blob/75451d12078c3e39944dfa2cc3ad6bc64e4b31c8/pkg/drivers/driv

[2021-08-30 07:26] czunker opened #281 "Add metadata check for absence of env varibale"
Add a metadata check to verify a specified variable isn't present in the image.

We have to use a proxy during build time of the image, but would like to make sure, this proxy isn't set in the final image.

Similar checks already exist for ports and volumes.

[2021-09-23 05:42] dduportal commented on #279
Gentle ping @nkubala @tstromberg, if you need any help, I'm willing to work on this, as we (the Jenkins Infra) team are relying on this project

[2021-09-23 16:50] nkubala commented on #279
hey @dduportal, first of all thank you so much for stepping up on this, and so sorry it's taking us so long to get back to you! I'm working on putting together a strategy for opening up this project to external maintainers, and was hoping to have something set up before responding here, but I shouldn't have kept you in the dark. we haven't agreed on a strategy quite yet, but I'd absolutely love to

[2021-09-24 19:15] JonZeolla opened #283 "Support tests that require an interactive shell"
Some docker images are meant to be interacted with, and operate differently between interactive and non-interactive runs.  https://github.com/SeisoLLC/easy_infra is an example.

Please allow a method to specify interactive vs non-interactive tests.

Currently easy_infra does this like [this](https://github.com/SeisoLLC/easy_infra/blob/2f7f9915bd22f5ab08495f85853551736e3e05d9/tests/test.py#L178-L18

[2021-10-13 19:31] gavvvr opened #284 "Passing secret from the outside using env variables"
Hi.
Suppose my test command needs a secret (The real-life command is a one-liner for making sure that the language runtime can successfully connect to a real database instance using db driver installed into the image under test). Is it possible to pass the secret to container under test?

I tried the following test:

[code]

And executed the test with `PASSWORD=s3cr3t container-structure-test test

[2021-10-14 14:24] edouard-lopez opened #285 "Error: error parsing config file: error unmarshalling config: yaml: unmarshal errors: line 18: field user not found in type v2.MetadataTest"
I'm exploring this tool and wrote a super basic [`config.yml`](https://github.com/edouard-lopez/explore-container-testing/commit/0555855973e62c36339e940a20b049e90477734c):

	  schemaVersion: 2.0.0
	  fileExistenceTests:
	  - name: 'Pure Test directory exists'
	    path: '/tmp/.pure/'
	    shouldExist: true
	    permissions: 'drwxr-xr-x'
	    uid: 1000
	    gid: 1000
	    isExecutableBy: 'group'

[2021-10-14 15:03] dduportal commented on #279
Hello @nkubala , thanks for the heads up. I'll wait for your feedback but please keep in mind that it seems that there are other requests by other users as well :)

[2021-10-29 11:31] wndhydrnt opened #286 "Cannot execute binary on macos 12 Monterey"
On a workstation that runs macos 12 Monterey, container-structure-test [v1.10.0](https://github.com/GoogleContainerTools/container-structure-test/releases/tag/v1.10.0) fails with the following error:

[code]

I was able to trace this down to the version of Go that is being used to build the binaries. Go 1.9 and 1.10 produce the error above. A binary built by a newer release, e.g. 1.17, does not.

[2021-11-09 18:31] nkubala commented on #286
hey @wndhydrnt and everyone, I just released v1.11.0 which (hopefully) has fixed this issue: https://github.com/GoogleContainerTools/container-structure-test/releases/tag/v1.11.0

would one of you mind confirming that things look good in this release? I've marked it as a pre-release until I can verify things are working as intended (I don't have a machine running macOS Monterey yet so I can't test

[2021-11-10 07:02] wndhydrnt commented on #286
Hey @nkubala, I can confirm that v1.11.0 works on macos 12 Monterey. Many thanks for getting this fixed.

[2021-11-10 18:13] nkubala commented on #286
@wndhydrnt great to hear!

[2021-11-10 18:13] #286 closed

[2021-11-10 18:43] nkubala opened #296 "Release script clobbers checksum files for built binaries"
Something in the release script is wonky, causing the `*.sha256` checksum files to get deleted right before copying everything to the release GCS bucket - I had to create these files manually for the last release.

[2021-11-11 18:48] #281 closed

[2021-11-17 15:44] jacksgt commented on #225
Hey, I just wanted to chime in and say that as of Podman 3.0 this use-case is *partially* supported!

[code]

However, **commandTests do not appear to work**, or at least in my case the entrypoint (in my case "httpd") does not get overridden like it should:
[code]

Software versions:
[code]

[2021-12-11 22:34] brainchild0 opened #297 "integration of compose-like container groups"
Although only recently having entered the containers space, I have come to understand the importance of Container Structure Test.

Docker and other developers of container infrastructure emphasize the value of building custom containers for testing general software, even software not generally targeted for containers, but few emphasize the importance of validating a container image before publishi

[2022-01-19 13:16] exoaturner commented on #273
Also having the same issue, when using the xunit plugin in jenkins.

xunit plugin (supports JUnit format) parsing JUnit xml out of container-structure-test.
[code]

Output form container-structure-test:
[code]

@dduportal did you ever find a work around for this in Jenkins?

[2022-01-20 01:58] b7702e2 commented on #273
I had the exact same issue as @dduportal while using junit with Jenkins Pipeline. After some trial and error, I found adding a "name" attribute to the "testsuite" (singular) element gets rid of the problem. Something like
` <testsuite name="MyPackageName.MyClassName">`

[2022-02-22 12:43] Tanemahuta opened #300 "Please provide a versioned debug image like in crane"
Currently the latest image is tagged to :debug.
In case you need to switch to an earlier version, you need the SHA of the image.

[2022-03-22 17:17] atdiff commented on #218
@lielran were you able to figure out a way to do this?

[2022-03-22 20:09] lielran commented on #218
No. I gave up since then

[2022-03-22 20:12] dduportal commented on #279
Hi @nkubala is there any news on this?

[2022-03-23 18:11] trimble commented on #279
Following. It would go a long way toward making me comfortable using this tool if I was sure it had a future.

[2022-03-24 09:32] Dysproz commented on #284
I have the same use case with token to SDM tahat I want to pass from env var exported.

[2022-03-25 14:30] trimble opened #302 "Add options for condensing/expanding results output"
When using CST in a CI/CD environment, it would be nice to have multiple options for verbosity of results output. The current "text" format output is informative but noisy in passing cases. Sometimes a "pass-quiet, fail-noisy" option would be nice to have.

I'm still thinking about these, and am certainly open to suggestion, but as conversation starters...I could imagine a few levels of verbosity:

[2022-03-25 14:50] trimble commented on #51
Was this already addressed as part of #254 and #186 ?

[2022-05-13 12:51] lemeurherve commented on #222
Since [v1.10.0](https://github.com/GoogleContainerTools/container-structure-test/releases/tag/v1.10.0) Windows binary are distributed as well.

Now, as most tests contain specific architecture paths, I'm currently adding a specific Windows version of cst configuration file as a workaround.
Is there a better solution by any chance?

[2022-05-23 10:32] #171 closed

[2022-05-23 10:35] dualbus commented on #171
Sorry, I forgot about this issue.

Thank you for adding support for unexposedPorts and unmountedVolumes, @charlyx !

[2022-05-31 00:47] crafton opened #304 "Junit output time appears to be using nanoseconds instead of seconds"
Hi:

I realise that the Junit xml output is presenting the duration time in nanoseconds. I think typically the Junit time attribute is presented in seconds where fractions are represented as floating point numbers. Are you aware of this behaviour? Is there some context behind the choice of nanoseconds?

See sample output below:

Thanks,

[code]

[2022-06-09 16:54] nicotruc opened #305 "Supporting non-docker v1 manifest (format oci, v2s1, v2s2)"
Hi,

As there is more and more non docker based image (with manifest format oci, v2s1 or v2s2 as there are downloadable using skopeo), it would be a great feature to implement a way of taking these manifest into account instead of a docker v1 version of manifest, as the tools seems to load

[2022-08-23 01:14] thesayyn commented on #279
I'd be willing to help with casual contributions as well.

[2022-08-23 10:45] samj1912 commented on #279
+1 I am currently exploring the possible of using container-structure-test as a declarative testing utility for https://buildpacks.io (See https://github.com/buildpacks/rfcs/pull/205 and https://github.com/samj1912/buildpacks-venom-executor/blob/3360e7afbc518dac953a2f74daebb299a03f8a6e/examples/paketo-go/test.yaml#L18 for a POC). Would be happy to help out as well.

[2022-09-09 00:38] baserrato opened #309 "Update vulnerable and old dependencies"
There seems to be old packages that are used in the latest version that are reported to have vulnerabilities and should be updated:

- github.com/containerd/containerd v1.5.7 (subject to [CVE-2021-43816](https://avd.aquasec.com/nvd/2021/cve-2021-43816/))

This package is used indirectly according to the go.mod in the master branch of this repo.

[2022-09-11 02:41] coopernetes commented on #273
I started hacking on this today. The workaround from @b7702e2 produces the best result. Tested on a fresh Jenkins 2.361.1 install with latest JUnit plugin (1119.1121.vc43d0fc45561).

![plain-xml](https://user-images.githubusercontent.com/57812123/189509635-208023e7-68f3-422f-b030-30026bec50e2.png)

@dduportal as an FYI, I experimented with rendering out an report based on the Surefire schema menti

[2022-09-25 21:06] coopernetes opened #311 "Kubernetes driver for command tests"
Related to #270 , it would be extremely convenient to be able to use a Kubernetes native driver to run both image content tests (the currently supported test types using `--driver tar`) as well as command tests that could run as pods against an image-under-test.

This is an oversimplification but at a HL, a new driver of type `kubernetes` is created which can use an existing user's KUBECONFIG cont

[2022-09-26 16:03] notnmeyer opened #312 "version not set correctly in homebrew binary"
noticed a similar issue to https://github.com/GoogleContainerTools/container-structure-test/issues/127 today. the version doesn't seem to be set correctly in the homebrew release.

[code]

[2022-10-03 04:53] bitnik commented on #279
Is there any news on this topic?

[2022-10-03 07:57] cavo789 opened #313 "ERROR - field unboundEnv not found in type v2.MetadataTest"
Hello

Just trying your tool; thanks for it.

I think there is a problem with the `unboundEnv` feature; seems inexisting:

[code]

[code]

The documentation needs perhaps to be updated: https://github.com/GoogleContainerTools/container-structure-test#metadata-test

Thanks

[2022-10-11 02:38] bananaappletw commented on #284
I also has trouble with this issue.
If I make the pull request, will someone review it?
If the answer is yes, I probably could do it on near weekends.

[2022-10-16 05:27] bananaappletw commented on #313
@nkubala Could you make a new release? The issue is already fixed on current master branch. Thank you.

[2022-11-03 15:23] thesayyn opened #316 "latest release is missing prebuilt binaries"
https://github.com/GoogleContainerTools/container-structure-test/releases/tag/v1.13.0

[2022-11-04 02:34] loosebazooka commented on #316
done

[2022-11-04 02:34] #316 closed

[2022-11-07 16:07] recombinationgroup opened #317 "Please provide sha256 sums for 1.13.0"
Hi there, previous releases also contained the sha256 checksums for the binaries. Alas, the newest release 1.13.0 sadly does not. Would you consider providing the checksums for this release as well?

[2022-11-17 14:07] #273 closed

[2022-11-23 19:51] mmcaya opened #322 "Release 1.13.0 introduced backwards incompatibility with schema version 2.0.0 for metadataTest.env field"
### Expected behavior
- Upgrading from version `1.11.0` to `1.13.0` should remain backwards compatible with any container structure test configuration marked `schemaVersion: 2.0.0` (Either supporting _both_ the old and new field names, or not allowing such field name changes to occur under minor revision releases)

Alternate solutions:
- Any breaking changes to the schema should require a major ve

[2022-11-23 19:57] mmcaya commented on #322
Related relevant comment from original PR: https://github.com/GoogleContainerTools/container-structure-test/pull/314#issuecomment-1306192841

[2022-11-24 06:44] Techtesh opened #323 "Add flag to target optional docker repo"
Can we add a feature/flag to target another (on prem/ personal mirror) docker hub
My very basic test.yaml:

`schemaVersion: 2.0.0
commandTests:
  - name: "caheTest"
    command: "ls"
    args: ["/home/developer/.cache"]
    expectedOutput: ["2.2.*.*.txt"]
`
Command run :
'docker run gcr.io/gcp-runtimes/container-structure-test:latest test --driver tar --image localhost/test-local:test --config /te